{% extends "base.html" %}
{% block styling %}
  {{ super() }}
  <style type="text/css">
  .benchtab{
    display: inline-block;
    position: relative;
    top:11px;
    padding-bottom:15px;
    cursor: pointer;
  }
  .benchtab-disabled{
    cursor: default;
  }
  .benchtabsep{
    display: inline-block;
    position: relative;
    top:11px;
    padding:15px; 
  }
  .benchtabactive{
    border-bottom: 2px solid #ababab;
  }
  hr {
    border-top: 1px solid #ababab;
  }
  #pick-part-modal{
    width: 1245px;
    position:fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image:  url("/static/images/bg-white.jpg");
    text-shadow: none;
    color: #010101;
  }
  .equip-part-item{
    display: inline-block;
    width: 585px;
    height: 127px;
    margin: 8px;
    text-align: left;
    cursor: pointer;
    background-image: url("/static/images/border-normal.png");
    background-repeat: no-repeat;
  }
  .equip-part-item:hover{
    background-color: #eee;
  }
  .equipped{
    background-image: url("/static/images/border-equip.png") !important;
    background-repeat: no-repeat;
  }
  .recommended-item{
    background-image: url("/static/images/border-recommended.png");
    background-repeat: no-repeat;
  }
  .part-item-title{
    font-size: 20px;
  }
  .component-tab-cube-image{
    width:30px;
  }
  .part-item-sub{
    color:#9f9f9f;
    display:block;
    font-size: 14px;
  }
  .part-item-border{
    border-left: solid 17px #f3f3f3;
  }
  .part-item-content {
    padding:22px;
    display:inline-block;
    vertical-align: top;
    padding-left:15px;
  }
  .part-item-icon{
    position: relative;
    width: 32px;
    left: -25px;
    top: 8px;
  }
  .part-icon-div{
    display:inline-block;
  }
  .bg-orange {
    background-color: #fede86;
  }
  .border-orange{
    border-color: #fede86 !important;
  }
  .border-purple{
    border-color: #fe4aea !important;
  }
  .border-blue{
    border-color: #29a0de !important;
  }
  .border-gray{
    border-color: #333333 !important;
  }
  .border-black{
    border-color: #000000 !important;
  }
  .border-default{
    border-color: #cccccc !important;
  }
  
  .fg-purple{
    color: #fe4aea;
  }
  .fg-orange{
    color: #e6d55e;
  }
  .fg-gray{
    color: #777;
  }
  .fg-gray{
    color: #777;
  }
  .fg-white{
    color: #888;
  }
  .fg-blue{
    color: #29a0de;
  }
  .fg-inc{
    color: #b9b9b9;
  }
  .fg-inc-red{
    color: #f4101a;
    font-weight: bold;
  }
  .blue-button{
    background-color:#1A9DFC;
  }
  .modal-button{
    color:white;
    font-weight: normal;
    font-size: 10px;
    padding-left: 50px;
    padding-right:50px;
    margin:5px;
  }
  #part-item-list{
    padding:10px;
    background-image: url("/static/images/modal-bg.png");
    background-size: 100% 100%;
    overflow-y:auto;
    height:450px;
  }
  .equip-clickable, .pointer{
    cursor: pointer;
  }
  
  #cubedisplay-bg{
    position: absolute;
    left:17px;
  }
  #cubedisplay-middle{
    position: absolute;
    top: 0px;
    left: 17px;
  }
  #cubedisplay-display{
    position: absolute;
    top: -15px;
    left: 385px;
  }
  #cubedisplay-memory{
    position: absolute;
    top: 329px;
    left: 203px;
  }
  #cubedisplay-cpu{
    position: absolute;
    top: 285px;
    left: 320px;
  }
  #cubedisplay-gpu{
    position: absolute;
    top: 108px;
    left: 39px;
  }
  
  .acbench-item-heading{
    font-family: 'Open Sans', sans-serif;
    color:#c2bad1;
    font-weight: 300;
    font-size: 28px;
  }
  
  
  #ac-cube-section-gpu{
    text-align:left;
    position: absolute;
    top: 179px;
    left: 70px;
  }
  #ac-cube-section-cpu{
    text-align:left;
    position: absolute;
    top: 20px;
    left: 70px;
  }
  #ac-cube-section-memory{
    text-align:left;
    position: absolute;
    top: 348px;
    left: 70px;
  }
  #ac-cube-section-display{
    text-align:left;
    position: absolute;
    top: 523px;
    left: 70px;
  }
  
  #ac-cubedisplay-middle{
    position: absolute;
    top: 144px;
    left: 710px;
  }
  #ac-cubedisplay-gpu{
    position: absolute;
    top: -43px;
    left: 548px;
  }
  #ac-cubedisplay-cpu{
    position: absolute;
    top: 117px;
    left: 847px;
  }
  #ac-cubedisplay-memory{
    position: absolute;
    top: 48px;
    left: 698px;
  }
  #ac-cubedisplay-display{
    position: absolute;
    top: -105px;
    left: 850px;
  }
  
  #bench-cube-title{
    border-left: solid 4px #cccccc;
    display: inline-block;
    padding-left: 15px;
    left: 34px;
    position: relative;
  }
  #bench-cube-subtitle{
    font-size: 14px;
    display: block;
    top: -10px;
    padding-left: 53px;
    position: relative;
  }
  #componentsection_motherboard{
    position: absolute;
    top: -16px;
    left: -274px;
  }
  #componentsection_storage{
    position: absolute;
    top: -15px;
    left: -208px;

  }
  #componentsection_power{
    position: absolute;
    top: -18px;
    left: -208px;
  }
  #componentsection_chassis{
    position: absolute;
    top: -18px;
    left: -274px;
  }
  
  #other-components-bg{
    background-image: url("/static/images/bg-white.jpg");
    width:100%;
  }
  
  #ac-cube-section-motherboard{
    position: absolute;
    top: 104px;
    left: 750px;
    text-align: left;
  }
  #ac-cube-section-storage{
    position: absolute;
    top: 224px;
    left: 750px;
    text-align: left;
  }
  #ac-cube-section-power{
    position: absolute;
    top: 353px;
    left: 750px;
    text-align: left;
  }
  #ac-cube-section-chassis{
    position: absolute;
    top: 476px;
    left: 750px;
    text-align: left;
  }
  #other-component-note-span{
    left: 750px;
    display: inline-block;
    position: absolute;
  }
  .other-component-note{
    color: #3699f4;
  }
  
  .showcase-links{
    width:100%; border-bottom: 1px #2a263f solid;
  }
  .showcase-links ul{
    list-style:none;
    margin:0px;
  }
  .showcase-links ul li{
    display: inline-block;
    position: relative;
    width: 123px;
    padding-bottom: 16px;
    top: 0px;
    font-size:13px;
    margin-left: 1px;
    margin-right: 1px;
    color: #716b77;
    font-weight: 400;
    text-align: center;
  }
  .showcase-links li.active{
    border-bottom: #cccccc 2px solid;
    color: #cccccc;
    font-weight: 400;
  }
  .showcase-links li.separator{
    border-bottom: none;
    width:30px;
  }
  .showcase-links a{
    text-decoration: none;
    color:inherit;
  }
  .showcase-links a:hover{
    text-decoration: none;
    color:#309cf4;
  }
  </style>
{% endblock %}

{% block navleft %}
{% if not rig %}
<h3 class="navbar-page-title">
  Finish building your Cube  
</h3>
{% else %}
<div class="nav-items">
  <ul>
    <li><a href="/showcase">RIG SHOWCASE</a></li>
    <li class="active">THE BENCH</li>
    <li><a href="/faq">FAQ</a></li>
  </ul>
</div>
{% endif %}
{% endblock %}


{% block content %}
  {% if not rig %}
  <div style="width:100%; border-bottom: 3px #2a263f solid; text-align: center;" class="wizard-steps-breadcrumbs">
    <ul>
      <li>CONFIGURE</li>
      <li>NAME</li>
      <li class="active">BUILD & FINISH</li>
    </ul>
  </div>
  {% endif %}
  <br><br>

  <div class="container">
  
    <div class="row">
      <div class="col-md-8">
        <h1 id="bench-cube-title">Cube Name</h1>
        <span id="bench-cube-subtitle"></span>
      </div>
      <div class="col-md-4">
        <br>
        {% if my_rig or not rig %}
        <button class="ac-btn" id="save-cube-button">Save Cube</button>
        {% endif %}
      </div>
    </div>
  </div>
  {% if rig and my_rig %}
  <div class="showcase-links">
    <div class="container">
      <div class="row">
        <div class="col-md-7"></div>
        <div class="col-md-5">
          <ul>
            <li class="active">CUBE SUMMARY</li>
            <li class="separator">|</li>
            <li><a href="/share?rig={{rig.id}}">SHARE CUBE</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12" style="text-align:center;">
        
        <img src="/static/images/cube-with-lines.png">
        <div id="ac-cube-section-cpu" data-equip-type="cpu" data-equip-title="EQUIP A PROCESSOR">
          <img src="/static/cube-images/ac-cube-small-default.png" id="ac-cubedisplay-cpu" class="equip-clickable" />
          <span class="acbench-item-heading equip-clickable" style="display:block;">Processor</span>
          <button class="ac-btn equipbutton" style="display: block; margin-top: 5px;">Equip An Item</button>
          <div id="ac-cpu-section" class="equip-clickable item-slot-section"></div>
        </div>
        
        <div id="ac-cube-section-gpu" data-equip-type="gpu" data-equip-title="EQUIP A GRAPHICS CARD">
          <img src="/static/cube-images/ac-cube-small-default.png" id="ac-cubedisplay-gpu" class="equip-clickable"/>
          <span class="acbench-item-heading equip-clickable" style="display:block;">Graphics</span>
          <button class="ac-btn equipbutton" style="display: block; margin-top: 5px;">Equip An Item</button>
          <div id="ac-gpu-section" class="equip-clickable item-slot-section"></div>
        </div>
        
        <div id="ac-cube-section-memory" data-equip-type="memory" data-equip-title="EQUIP MEMORY">
          <img src="/static/cube-images/ac-cube-small-default.png" id="ac-cubedisplay-memory" class="equip-clickable" />
          <span class="acbench-item-heading equip-clickable" style="display:block;">Memory</span>
          <button class="ac-btn equipbutton" style="display: block; margin-top: 5px;">Equip An Item</button>
          <div id="ac-memory-section" class="equip-clickable item-slot-section"></div>
        </div>
        
        <div id="ac-cube-section-display" data-equip-type="display" data-equip-title="EQUIP A DISPLAY">
          <img src="/static/cube-images/ac-cube-small-default.png" id="ac-cubedisplay-display" class="equip-clickable"/>
          <span class="acbench-item-heading equip-clickable" style="display:block;">Display</span>
          <button class="ac-btn equipbutton" style="display: block; margin-top: 5px;">Equip An Item</button>
          <div id="ac-display-section" class="equip-clickable item-slot-section"></div>
        </div>
        
        <!-- CUBE DISPLAY -->
        <img src="/static/cube-images/ac-cube-middle-default.png" id="ac-cubedisplay-middle" />
        <!--// Cube DISPLAY -->
        
        <br><br><br><br><br>
      </div>
    </div>   
    
  </div>


  <div id="other-components-bg">
    <br><br><br>
    <div class="container">
      <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
          <h1 class="pull-right" style="color: #696c7f;display: inline-block;border-left: solid 4px #cac9d1;padding-left: 15px;">OTHER COMPONENTS</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" style="text-align: center;">
        
          <img src="/static/images/component-bg.png">
          
          <div id="ac-cube-section-motherboard" data-equip-type="motherboard" data-equip-title="EQUIP A MOTHERBOARD">
            <img src="/static/images/component-default.png" id="componentsection_motherboard" class="other-clickable">
            <span class="acbench-item-heading other-clickable" style="display:block;">Motherboard <span class="other-component-note">*</span></span>
            <div id="ac-motherboard-section" class="item-slot-section other-clickable"></div>
          </div>
          <div id="ac-cube-section-storage" data-equip-type="storage" data-equip-title="EQUIP STORAGE">
            <img src="/static/images/component-default.png" id="componentsection_storage" class="other-clickable">
            <span class="acbench-item-heading other-clickable" style="display:block;">Storage <span class="other-component-note">*</span></span>
            <div id="ac-storage-section" class="item-slot-section other-clickable"></div>
          </div>
          <div id="ac-cube-section-power" data-equip-type="power" data-equip-title="EQUIP A POWER SUPPLY">
            <img src="/static/images/component-default.png" id="componentsection_power" class="other-clickable">
            <span class="acbench-item-heading other-clickable" style="display:block;">Power Supply <span class="other-component-note">*</span></span>
            <div id="ac-power-section" class="item-slot-section other-clickable"></div>
          </div>
          <div id="ac-cube-section-chassis" data-equip-type="chassis" data-equip-title="EQUIP CHASSIS">
            <img src="/static/images/component-default.png" id="componentsection_chassis" class="other-clickable">
            <span class="acbench-item-heading other-clickable" style="display:block;">Chassis <span class="other-component-note">*</span></span>
            <div id="ac-chassis-section" class="item-slot-section other-clickable"></div>
          </div>
          
          <span id="other-component-note-span" class="other-component-note">* Equip core items to fill in secondary stats</span>
          <br><br><br><br><br>
        </div>
      </div>
    </div>
  </div>

  <!-- --------------- -->
  <!-- --------------- -->
  <!-- EDIT NAME MODAL -->
  <!-- --------------- -->
  <div class="modal fade" tabindex="-1" role="dialog" id="edit-name-modal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Name</h4>
        </div>
        <div class="modal-body">
          <p><input type="text" class="ac-input-light large" style="width:100%;" id="change-name-input"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="ac-btn" id="save-name-change-button">Save</button>
          &nbsp;&nbsp;
          <button type="button" class="ac-btn" data-dismiss="modal">Cancel</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- --------------- -->
  <!-- --------------- -->
  <!-- PART PICKER MODAL -->
  <!-- --------------- -->
  <div id="pick-part-modal">
        <div style="text-align: center; padding:15px; border-bottom: solid 1px #c1c1c1;">
          <h3 class="modal-title" id="equip-modal-title"></h3>
          <div class="clearfix"></div>
        </div>
        
        <!-- ITEM LIST -->
        <div id="part-item-list">
          
        </div>
        <div style="padding:10px; border: solid 1px #545359; background-color: #1b1a22; text-align: center;">
          <button class="ac-btn" id="modal-unequip-btn">UNEQUIP »</button>
          <button class="ac-btn" id="modal-cancel-btn">CANCEL »</button>
          <button class="ac-btn" id="modal-save-btn">SAVE PART »</button>
        </div>
      
  </div>
{% endblock %}

{% block javascript %}

<script type="text/javascript">
	//
	// initialize globals
	var AC_GLOBALS = function(){
		return {
			cubeName : {% if cube_name %}'{{cube_name}}'{% else %}null{% endif %},
			preset : {% if preset %}'{{preset}}'{% else %}null{% endif %},
			rig : {% if rig %}'{{rig.id}}'{% else %}null{% endif %},
			myRig : {% if my_rig %}true{% else %}false{% endif %}
		};
	}();

</script>

<script type="text/javascript">
    //initialize rig (local storage)
    var currentRig = {};
    currentRig['parts'] = currentRig['parts'] || {};
	$(function(){
		
		// set cube name
		currentRig['name'] = (AC_GLOBALS.cubeName !== null) ? AC_GLOBALS.cubeName : 'Cube Name';
		
		// prepare preset values
		if (AC_GLOBALS.preset !== null) {
			populateRigById(AC_GLOBALS.preset);
		} else if (AC_GLOBALS.rig !== null) {
			populateRigById(AC_GLOBALS.rig);
			currentRig['rig_id'] = AC_GLOBALS.rig; // set ID for subsequent saves to update
		} else {
			// initial render
			refreshPartsCache(renderRig);
		}
		
		
		function populateRigById(rigId){
			//
			//
			// GET RIG INFO, SET, AND RENDER
			$.getJSON( "getrig", {rig_id: rigId}).success(function(data) {
				var presetRig = JSON.parse(data.rig);
				console.log(presetRig);
				if (presetRig['motherboard_component_id'] !== undefined) currentRig['parts']['motherboard_id'] = presetRig['motherboard_component_id'];
                if (presetRig['gpu_component_id'] !== undefined) currentRig['parts']['gpu_id'] = presetRig['gpu_component_id'];
                if (presetRig['memory_component_id'] !== undefined) currentRig['parts']['memory_id'] = presetRig['memory_component_id'];
                if (presetRig['display_component_id'] !== undefined) currentRig['parts']['display_id'] = presetRig['display_component_id'];
                if (presetRig['cpu_component_id'] !== undefined) currentRig['parts']['cpu_id'] = presetRig['cpu_component_id'];
                if (presetRig['power_component_id'] !== undefined) currentRig['parts']['power_id'] = presetRig['power_component_id'];
                if (presetRig['storage_component_id'] !== undefined) currentRig['parts']['storage_id'] = presetRig['storage_component_id'];
                if (presetRig['chassis_component_id'] !== undefined) currentRig['parts']['chassis_id'] = presetRig['chassis_component_id'];
                refreshPartsCache(renderRig);
			});
		}
		
		//
		//
		// initialization complete
		// set up bindings etc.
		//
		//
		
		$('#bench-cube-title').css('cursor','pointer');
		$('#bench-cube-title').click(function(){
			$('#edit-name-modal').modal('show');
			$('#change-name-input').val(currentRig.name);
		});
		$('#save-name-change-button').click(function(){
			$('#edit-name-modal').modal('hide');
			currentRig.name = $('#change-name-input').val();
			renderRig();
		});
		
		$('#save-cube-button').click(function(){
			// if the user is logged in this link will click off save
			// else the user will need to register before they can save
			ArcticBasics.isLoggedIn(saveCube, function(){
				// not logged in
				ArcticBasics.initLogin(saveCube);
			});
		});
		
		function saveCube(){
			
			var postRig = currentRig['parts'];
			postRig['name'] = currentRig['name'];
			if (currentRig.rig_id !== undefined) postRig['rig_id'] = currentRig.rig_id;
			
			$.post('/savecube', postRig).success(function(data){
				window.location.href = '/bench?rig=' + data.rig_id;
			});
			
		}
		
		function resetCube(){
		    currentRig = {};
		    currentRig['parts'] = {};
		    renderRig();
		}
		
		// selected item prior to save
		var toEquip = null;
		var equipType = null;
		
		// initialize parts cache with part data by id
		var partsCache = {};
		
 		$('#pick-part-modal').hide();
 		
 		//
 		// dismiss modal after saving
 		//
 		$('#modal-save-btn').click(function(){
 			console.log('equip ' + equipType + ' ' + toEquip);
 			currentRig['parts'][equipType + '_id'] = toEquip;
 			$('#pick-part-modal').hide();
 			renderRig();
 		});
 		
 		$('#modal-unequip-btn').click(function(){
 			console.log('unequip ' + equipType);
 			currentRig['parts'][equipType + '_id'] = null;
 			$('#pick-part-modal').hide();
 			renderRig();
 		});
 		
 		//
 		// dismiss modal (cancel)
 		//
 		$('#modal-cancel-btn').click(function(){
 			$('#pick-part-modal').hide();
 		});
		
		//
		// equip buttons - show modal and load parts
		//
		$('.equipbutton').click(renderPartPickerModal);
		$('.equip-clickable').click(renderPartPickerModal);
		
		//
		// Rendering PART PICKER MODAL
		//
		function renderPartPickerModal() {
			var eType = $(this).parent().data('equip-type');
			equipType = eType;
			
			//
			// clear out any previously selected parts
			toEquip = null;
			
			//
			// set title
			var equipTitle = $(this).parent().data('equip-title');
			$('#equip-modal-title').html(equipTitle);
			
			var currentEquippedId = currentRig['parts'][eType + '_id'];
	        
	        // Call server with datatype and current PC config
	        var getPartsParams = {};
	        getPartsParams.target = eType;
	        $.extend(getPartsParams, currentRig['parts']);
	        $.getJSON( "getparts", getPartsParams).success(function(data) {
	        	
	        	var itemListView = $('#part-item-list');
	        	itemListView.empty();
	        	
				var partsList = JSON.parse(data.parts);
	        	for (part in partsList) {	        		
	        		var component = partsList[part];
	        		
	        		//
	        		// add to parts cache (needed later)
	        		partsCache[component.id] = component;
	        		
        			var itemDiv = $('<div class="equip-part-item"></div>')
        			var contentDiv = $('<div class="part-item-content"></div>')
        			var iconDiv = $('<div class="part-icon-div"></div>')
        			var titleSpan = $('<span class="part-item-title">' + constructDisplayName(component) + '</span>');
        			
        			itemDiv.append(iconDiv);
        			itemDiv.append(contentDiv);
        			contentDiv.append(titleSpan);
        			
        			//
        			// set component ID
        			//
        			itemDiv.data('component-id', component.id);
        			
        			// style current equipped if exists
        			if (currentEquippedId === component.id) {
        				itemDiv.addClass('equipped');
        			} else {
        				itemDiv.addClass("not-equipped");
        			}
        			
        			if (component.compatible === true) {
        				iconDiv.append('<img src="/static/images/modal-box-rarity-'+component.perf_color+'.png"/>') 	// color icon
        				titleSpan.addClass('fg-' + component.perf_color);											// style title span
        				contentDiv.append('<span class="part-item-sub">' + constructPerformanceNote(component) + '</span>');
        				
        				// add any flags
            			// adding recommended to all for now
            			if (component.recommended === true ) {
            				itemDiv.addClass('recommended-item');
            			}
        				
        			} else {        				
        				iconDiv.append('<img src="/static/images/modal-box-rarity-incompatible.png"/>') 	// append incompat icon
        				contentDiv.append('<span class="part-item-sub fg-inc-red">INCOMPATIBLE</span>'); 			// incompatible text
        				titleSpan.addClass('fg-inc'); 															// title color
        			}
        			
        			itemListView.append(itemDiv);
        			
	        	}
	        	
	        	bindEquipListener();

	        }).fail(function() {
	            console.log( "error" );
	        });
			
			$('#pick-part-modal').show();
		}
		
		//
		// Equip Part Item onClick
		// Change styling
		//
		function bindEquipListener(){
			$('.equip-part-item').click(function(){
				// remove equip styling from all components
				$('.equip-part-item').removeClass('equipped');
				$(this).addClass('equipped');
				$(this).removeClass('not-equipped');
				toEquip = $(this).data('component-id');
				console.log('the data: ' + toEquip);
			});
		}
		
		//
		// Render Bench View
		//
		function renderRig() {
			console.log('Rendering Rig');
			console.log(currentRig);
			
			// reset to fresh UI
			resetBenchUI();
			
			//
			//
			// Disable save and share button (assume cube positions have not all been filled)
			$('#save-my-cube-button').prop('disabled', true);
			$('#benchtab-share').addClass('benchtab-disabled');
			
			var coreComponentCount = 0;
			var worstComponent = null;
			var worstComponentDetail = null;
			
			// render the current rig
			for (comp in currentRig['parts']) {
				
				var compId = currentRig['parts'][comp];
				if (compId === null || compId === undefined) {
					continue;
				}
				
				// pull part and information from cache
				var partDetail = partsCache[compId];
				
				// comptype
				var compType = comp.substr(0, comp.indexOf('_id'));
				console.log('comp type: ' + compType);
				
				// modify view
				if (isCoreComponent(compType)) {
					// modify core view
					renderCoreComponent(compType, partDetail);
					
					//
					// incremenent component count
					// and set worst component
					if (isCoreComponent(compType)) {
						coreComponentCount++;
						if (worstComponent == null || partDetail.perf_color_coded < worstComponent) {
								worstComponent = partDetail.perf_color_coded;
								worstComponentDetail = partDetail;
						}
					}
				} else{
					// modify other view
					renderOtherComponent(compType, partDetail);
				}
				
			}
			
			if (coreComponentCount == 4) {
				// set center cube and avatar cubes
				$('#ac-cubedisplay-middle').attr('src','/static/cube-images/ac-cube-middle-' + worstComponentDetail.perf_color + '.png');
				$('#bench-cube-title').addClass('border-' + worstComponentDetail.perf_color);
				$('#bench-cube-subtitle').html(constructPerformanceNote(worstComponentDetail));
				
				// enable save button and share button
				$('#save-my-cube-button').prop('disabled', false);
				$('#benchtab-share').removeClass('benchtab-disabled');
				
				// enable equiping secondary components
				$('.other-clickable').addClass('pointer');
				$('.other-clickable').click(renderPartPickerModal);
				$('.other-component-note').hide();
			}
			
			// set rig name
			if (currentRig.name !== undefined) {
				$('#bench-cube-title').html(currentRig['name']);
			}		
			
		}
		
		function renderCoreComponent(compType, partDetail){
			// modify core view
			var view = $('#ac-' + compType + '-section');
			view.prev().hide();// hide equip button
			view.empty();
			
			var displaySpan = $('<span></span>');
			displaySpan.append(constructDisplayName(partDetail));
			displaySpan.addClass('fg-' + partDetail.perf_color);
			displaySpan.addClass('part-item-title'); // styling

			view.append(displaySpan.clone());
			view.append('<br><span>' + constructPerformanceNote(partDetail) + '</span>')
			
			// modify colors
			$('#ac-cubedisplay-' + compType).attr('src',
					'/static/cube-images/ac-cube-small-' + partDetail.perf_color + '.png');
		}
		
		function renderOtherComponent(compType, partDetail){
			// modify core view
			var view = $('#ac-' + compType + '-section');
			view.empty();
			
			var displaySpan = $('<span></span>');
			displaySpan.append(constructDisplayName(partDetail));
			displaySpan.addClass('part-item-title'); // styling

			view.append(displaySpan.clone());
			
			// set filled cube
			$('#componentsection_' + compType).attr('src','/static/images/component-filled.png');
		}
		
		function resetBenchUI(){
			//
			//
			// RESET Cube positions
			$('#ac-cubedisplay-middle').attr('src','/static/cube-images/ac-cube-middle-default.png');
			$('#ac-cubedisplay-gpu').attr('src','/static/cube-images/ac-cube-small-default.png');
			$('#ac-cubedisplay-cpu').attr('src','/static/cube-images/ac-cube-small-default.png');
			$('#ac-cubedisplay-memory').attr('src','/static/cube-images/ac-cube-small-default.png');
			$('#ac-cubedisplay-display').attr('src','/static/cube-images/ac-cube-small-default.png');
			$('#bench-cube-title').removeClass();
			$('#bench-cube-subtitle').empty();
			
			//
			//
			// Reset component cubes
			$('#componentsection_motherboard').attr('src','/static/images/component-default.png');
			$('#componentsection_storage').attr('src','/static/images/component-default.png');
			$('#componentsection_power').attr('src','/static/images/component-default.png');
			$('#componentsection_chassis').attr('src','/static/images/component-default.png');
			
			//
			//
			// Remove display titles
			$('.item-slot-section').empty();
			
			//
			//
			// show all equip buttons
			$('.equipbutton').show();
			
			//
			//
			// Other components cannot be edited by default (assuming cube not filled)
			$('.other-clickable').removeClass('pointer');
			$('.other-clickable').unbind();
			$('.other-component-note').show();
		}
		
		function constructDisplayName(part){
			var partName = "";
			if (part.vendor !== undefined && part.vendor !== null) partName += part.vendor + ' ';
			if (part.brand_name !== undefined && part.brand_name !== null) partName += part.brand_name + ' ';
			if (part.model_number !== undefined && part.model_number !== null) partName += part.model_number;
			return partName;
		}
		
		function constructPerformanceNote(part){
			var note = "";
			if (part.max_performance !== undefined && part.max_performance !== null) note += part.max_performance + ' ';
			if (part.resolution !== undefined && part.resolution !== null) note += part.resolution;
			if (part.max_framerate !== undefined && part.max_framerate !== null) note += '<br>' + part.max_framerate + ' MS Response Time';
			return note;
		}
		
		function isCoreComponent(compType) {
			return compType === 'memory' || compType === 'display' || compType === 'cpu' || compType === 'gpu';
		}
		
		function refreshPartsCache(renderFunc){
			// retrieve necessary parts from server
			var ids = '';
			var count = 0;
			for (part in currentRig['parts']) {
				count++;
				if (currentRig['parts'][part] === null) continue;
				
				ids += currentRig['parts'][part];
				if (count < Object.keys(currentRig.parts).length) {
					ids += ',';
				}
			}
			if (ids.length === 0) renderFunc();
			$.getJSON( "getparts", {ids:ids}).success(function(data) {
				var partsList = JSON.parse(data.parts);
	        	for (part in partsList) {
	        		var component = partsList[part];
	        		partsCache[component.id] = component;
	        	}
	        	
	        	if (renderFunc !== null) {
	        		renderFunc();
	        	}
			});
		}
		
		
		
	});

	
	
</script>
{% endblock %}


