{% extends "base.html" %}
{% block styling %}
  {{ super() }}
  <style type="text/css">
  .benchtab{
    display: inline-block;
    position: relative;
    top:11px;
    padding-bottom:15px;
    cursor: pointer;
  }
  .benchtabsep{
    display: inline-block;
    position: relative;
    top:11px;
    padding:15px; 
  }
  .benchtabactive{
    border-bottom: 2px solid #ababab;
  }
  hr {
    border-top: 1px solid #ababab;
  }
  #pick-part-modal{
    position:fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2;
    text-shadow: none;
    color: #010101;
  }
  .equip-part-item{
    border: solid 1px #d9d9d9;
    display: inline-block;
    width: 445px;
    margin: 8px;
    text-align: left;
    cursor: pointer;
  }
  .not-equipped:hover{
    background-color: #eee;
  }
  .equipped{
    background-color:#2F2F2F;
  }
  .part-item-title{
    font-size: 18px;
    display: block;
  }
  .part-item-sub{
    color:#9f9f9f;
    display:block;
    font-size: 11px;
  }
  .part-item-border{
    border-left: solid 17px #f3f3f3;
  }
  .part-item-content {
    padding:8px;
    display:inline-block;
    height:75px;
    vertical-align: top;
    padding-left:15px;
  }
  .part-item-icon{
    position: relative;
    width: 32px;
    left: -25px;
    top: 8px;
  }
  .part-item-flag{
    display: inline-block;
    background-color: #3e3e3e;
    color: white;
    padding: 3px;
    width: 128px;
    text-align: center;
    position: relative;
    right: -5px;
    top: 9px;
    font-size: 12px;
    float:right;
  }
  .part-icon-div{
    display:inline-block;
    vertical-align: top;
    width: 0px;
  }
  .bg-orange {
    background-color: #fede86;
  }
  .border-orange{
    border-color: #fede86;
  }
  .border-purple{
    border-color: #fe4aea;
  }
  .border-blue{
    border-color: #29a0de;
  }
  .border-gray{
    border-color: #333;
  }
  .border-black{
    border-color: #000;
  }
  .fg-purple{
    color: #fe4aea;
  }
  .fg-orange{
    color: #e6d55e;
  }
  .fg-gray{
    color: #777;
  }
  .fg-gray{
    color: #777;
  }
  .fg-white{
    color: #888;
  }
  .fg-blue{
    color: #29a0de;
  }
  .fg-inc{
    color: #b9b9b9;
  }
  .fg-inc-red{
    color: #f4101a;
    font-weight: bold;
  }
  .blue-button{
    background-color:#1A9DFC;
  }
  .modal-button{
    color:white;
    font-weight: normal;
    font-size: 10px;
    padding-left: 50px;
    padding-right:50px;
    margin:5px;
  }
  #part-item-list{
    padding:10px;
    background-color:#ffffff;
    border-bottom: solid 1px #c1c1c1;
    overflow-y:auto;
    height:300px;
  }
  .equip-clickable{
    cursor: pointer;
  }
  
  #cubedisplay-bg{
    position: absolute;
    left:17px;
  }
  #cubedisplay-middle{
    position: absolute;
    top: 0px;
    left: 17px;
  }
  #cubedisplay-display{
    position: absolute;
    top: -15px;
    left: 385px;
  }
  #cubedisplay-memory{
    position: absolute;
    top: 329px;
    left: 203px;
  }
  #cubedisplay-cpu{
    position: absolute;
    top: 285px;
    left: 320px;
  }
  #cubedisplay-gpu{
    position: absolute;
    top: 108px;
    left: 39px;
  }
  </style>
{% endblock %}

{% block navleft %}
<p class="navsteps">
  Step 1: Configure&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;
  Step 2: Refine&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;
  <b>Step 3: Finalize</b>
</p>
{% endblock %}

{% block navright %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img src="{{ url_for('static', filename='images/default-cube-avatar.png') }}" id="cube-avatar"/>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-5">
            <h2>THE BEAST</h2>
            <br>
          </div>
        </div>
        <div class="row"  style="border-bottom: 1px solid #5a5a5a; position:relative;top:-40px;">
          <div class="col-md-3">
          </div>
          <div class="col-md-7" style="text-align: right;margin-bottom:10px;font-size: 15px;">
            <div class="benchtab benchtabactive" id="benchtab-cubesummary" data-tabname="bench-cube-view">Cube Summary</div>
            <div class="benchtabsep">|</div>
            <div class="benchtab" id="benchtab-components" data-tabname="bench-component-view">Components</div>
            <div class="benchtabsep">|</div>
            <div class="benchtab" id="benchtab-share">Share Your Cube</div>
          </div>
          <div class="col-md-2">
          </div>
        </div>
      </div>
    </div>    
    <div class="benchtabview" id="bench-cube-view">
      <div class="row">
        <div class="col-md-3">
          <div style="padding-top:120px; text-align: right;" data-equip-type="gpu" data-equip-title="EQUIP A GRAPHICS CARD">
            <h3 class="equip-clickable">Graphics</h3>
            <hr>
            <div id="gpu-section" class="equip-clickable item-slot-section">
            </div>
            <button class="btn btn-primary btn-sm equipbutton">Equip a graphics card +</button>
          </div>
          
        </div>
        <div class="col-md-6" style="text-align:center;">
        
          
          <!-- CUBE DISPLAY -->
          <!-- - - - - - - - -->
          <!-- Default cube images go here! -->
          <img src="{{ url_for('static', filename='cube-images/bg.png') }}" id="cubedisplay-bg" class=""/>
          <img src="/static/cube-images/cube-middle-default.png" id="cubedisplay-middle" />
          <img src="/static/cube-images/cube-display-default.png" id="cubedisplay-display" />
          <img src="/static/cube-images/cube-memory-default.png" id="cubedisplay-memory" />
          <img src="/static/cube-images/cube-cpu-default.png" id="cubedisplay-cpu" />
          <img src="/static/cube-images/cube-gpu-default.png" id="cubedisplay-gpu" />
          <!--// Cube DISPLAY -->
          
          
        </div>
        <div class="col-md-3">
          <div style="padding-top:20px; text-align: left;"  data-equip-type="display" data-equip-title="EQUIP A DISPLAY">
            <h3 class="equip-clickable">Display</h3>
            <hr>
            <div id="display-section" class="equip-clickable item-slot-section">
            </div>
            <button class="btn btn-primary btn-sm equipbutton">Equip a display +</button>
            
            
          </div>
          <div style="padding-top:200px; text-align: left;" data-equip-type="cpu" data-equip-title="EQUIP A PROCESSOR">
            <h3 class="equip-clickable">Processor</h3>
            <hr>
            <div id="cpu-section" class="equip-clickable item-slot-section">
            </div>
            <button class="btn btn-primary btn-sm equipbutton">Equip a processor +</button>
          </div>
          
        </div>
      </div>
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-3">
          <br><br>
          <div style="padding-top:20px; text-align: left;" data-equip-type="memory" data-equip-title="EQUIP MEMORY">
            <h3 class="equip-clickable">Memory</h3>
            <hr>
            <div id="memory-section" class="equip-clickable item-slot-section">
            </div>
            <button class="btn btn-primary btn-sm equipbutton">Equip memory +</button>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
      
    </div>
    <div class="row benchtabview" id="bench-component-view">
      <h1>The components!</h1>
    </div>
    
  </div>
  
  <div class="container" id="pick-part-modal">
    <div class="row">
      <div class="col-md-12" style="padding:0px;">
        <div style="text-align: center; padding:15px; border-bottom: solid 1px #c1c1c1;">
          <b><span id="equip-modal-title"></span></b>
          <button class="blue-link modal-button pull-right" id="modal-unequip-btn">UNEQUIP »</button>
          <div class="clearfix"></div>
        </div>
        <div style="padding:10px; background-color:#d9d9d9; border-bottom: solid 1px #c1c1c1;">
          <div class="pull-left">
            <input type="text" placeholder="Search for part"/>&nbsp;&nbsp;&nbsp;
            <input type="checkbox"/>&nbsp;&nbsp;&nbsp;<label for="">Show only compatible</label>
          </div>
          <div class="pull-right">
            <span>Sort by:&nbsp;&nbsp;</span>
            <select>
              <option value="volvo">All manufacturers</option>
            </select>
            <select>
              <option value="volvo">Amdahl Rank</option>
            </select>
          </div>
          <div class="clearfix"></div>
        </div>
        
        <!-- ITEM LIST -->
        <div id="part-item-list">
          <div class="equip-part-item">
            <div class="part-item-border border-orange">
              <div class="part-icon-div">
                <img src="/static/images/part-item-orange.png" class="part-item-icon"/>
              </div>
              <div class="part-item-content">
                <span class="part-item-title fg-orange">Samsung 28" UHD Monitor</span>
                <span class="part-item-sub">4K RESOLUTION</span>
                <span class="part-item-sub">10 MS RESPONSE</span>
              </div>
              <div class="part-item-flag">
                RECOMMENDED
              </div>
            </div>
          </div>
          <div class="equip-part-item">
            <div class="part-item-border">
              <div class="part-icon-div">
                <img src="/static/images/part-item-inc.png" class="part-item-icon"/>
              </div>
              <div class="part-item-content">
                <span class="part-item-title fg-inc">Samsung 28" UHD Monitor</span>
                <span class="part-item-sub fg-inc-red">INCOMPATIBLE</span>
              </div>
            </div>
          </div>
          <div class="equip-part-item">
            <div class="part-item-border">
              <div class="part-icon-div">
                <img src="/static/images/part-item-inc.png" class="part-item-icon"/>
              </div>
              <div class="part-item-content">
                <span class="part-item-title fg-inc">Samsung 28" UHD Monitor</span>
                <span class="part-item-sub fg-inc-red">INCOMPATIBLE</span>
              </div>
            </div>
          </div>
        </div>
        <div style="padding:10px; border-bottom: solid 1px #c1c1c1; text-align: center;">
          <button class="blue-link modal-button" id="modal-cancel-btn">CANCEL »</button>
          <button class="blue-link modal-button" id="modal-save-btn">SAVE PART »</button>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}

{% block javascript %}
<script type="text/javascript">
	$(function(){
		
		// initialize rig (local storage)
		var currentRig = {};
		
		// selected item prior to save
		var toEquip = null;
		var equipType = null;
		
		// initialize parts cache with part data by id
		var partsCache = {};
		
		// hide component view by default
		$('#bench-component-view').hide();
 		$('#pick-part-modal').hide();
 		
 		//
 		// dismiss modal after saving
 		//
 		$('#modal-save-btn').click(function(){
 			console.log('equip ' + equipType + ' ' + toEquip);
 			currentRig[equipType + '_id'] = toEquip;
 			$('#pick-part-modal').hide();
 			renderRig();
 		});
 		
 		$('#modal-unequip-btn').click(function(){
 			currentRig[equipType + '_id'] = null;
 			$('#pick-part-modal').hide();
 			renderRig();
 		});
 		
 		//
 		// dismiss modal (cancel)
 		//
 		$('#modal-cancel-btn').click(function(){
 			$('#pick-part-modal').hide();
 		});
		
 		//
 		// tabbing behavior on bench screen
 		//
		$('.benchtab').click(function(){
			// show the correct view and hide the current view
			
			// hide current views
			$('.benchtabview').hide();
			
			// show selected view
			var tabname = $(this).attr('data-tabname');
			$('#' + tabname).show();
			
			// make all tabs inactive, and mark this active
			$('.benchtab').removeClass('benchtabactive');
			$(this).addClass('benchtabactive');
		});
		
		//
		// equip buttons - show modal and load parts
		//
		$('.equipbutton').click(renderPartPickerModal);
		$('.equip-clickable').click(renderPartPickerModal);
		
		function renderPartPickerModal() {
			//
			// clear out any previously selected parts
			toEquip = null;
			
			//
			// set title
			var equipTitle = $(this).parent().data('equip-title');
			$('#equip-modal-title').html(equipTitle);
			
			var eType = $(this).parent().data('equip-type');
			equipType = eType;
			
			var currentEquippedId = currentRig[eType + '_id'];
	        
	        // Call server with datatype and current PC config
	        currentRig.target = eType;
	        $.getJSON( "getparts", currentRig).success(function(data) {
	        	
	        	var itemListView = $('#part-item-list');
	        	itemListView.empty();
	        	
				var partsList = JSON.parse(data.compatible);
	        	console.log(partsList);
	        	for (part in partsList) {	        		
	        		var component = partsList[part];
	        		
	        		//
	        		// add to parts cache (needed later)
	        		partsCache[component.id] = component;
	        		
        			var itemDiv = $('<div class="equip-part-item"></div>')
        			var borderDiv = $('<div class="part-item-border"></div>');
        			var contentDiv = $('<div class="part-item-content"></div>')
        			var iconDiv = $('<div class="part-icon-div"></div>')
        			var titleSpan = $('<span class="part-item-title">' + constructDisplayName(component) + '</span>');
        			
        			itemDiv.append(borderDiv);
        			borderDiv.append(iconDiv);
        			borderDiv.append(contentDiv);
        			contentDiv.append(titleSpan);
        			
        			//
        			// set component ID
        			//
        			console.log('the id ' + component.id);
        			itemDiv.data('component-id', component.id);
        			
        			// style current equipped if exists
        			if (currentEquippedId === component.id) {
        				itemDiv.addClass('equipped');
        			} else {
        				itemDiv.addClass("not-equipped");
        			}
        			
        			if (component.compatible === true) {
        				borderDiv.addClass('border-' + component.perf_color); 										// border color
        				iconDiv.append('<img src="/static/images/part-item-'+component.perf_color+'.png" class="part-item-icon"/>') 	// color icon
        				titleSpan.addClass('fg-' + component.perf_color);											// style title span
        				contentDiv.append('<span class="part-item-sub">4K RESOLUTION</span>') 						// append product additional information
        				.append('<span class="part-item-sub">10 MS RESPONSE</span>');
        				
        				// add any flags
            			// adding recommended to all for now
            			if (component.recommended === true ) {
            				borderDiv.append('<div class="part-item-flag">RECOMMENDED</div>');
            			}
        				
        			} else {        				
        				iconDiv.append('<img src="/static/images/part-item-inc.png" class="part-item-icon"/>') 	// append incompat icon
        				contentDiv.append('<span class="part-item-sub fg-inc-red">INCOMPATIBLE</span>'); 			// incompatible text
        				titleSpan.addClass('fg-inc'); 															// title color
        			}
        			
        			itemListView.append(itemDiv);
        			
	        	}
	        	
	        	bindEquipListener();

	        }).fail(function() {
	            console.log( "error" );
	        });
			
			$('#pick-part-modal').show();
		}
		
		//
		// Equip Part Item onClick
		// Change styling
		//
		function bindEquipListener(){
			$('.equip-part-item').click(function(){
				// remove equip styling from all components
				$('.equip-part-item').removeClass('equipped');
				$(this).addClass('equipped');
				$(this).removeClass('not-equipped');
				toEquip = $(this).data('component-id');
				console.log('the data: ' + toEquip);
			});
		}
		
		//
		// Render Bench View
		//
		function renderRig() {
			console.log('Rendering Rig');
			
			//
			//
			// RESET Cube positions
			$('#cubedisplay-middle').attr('src','/static/cube-images/cube-middle-default.png');
			$('#cubedisplay-display').attr('src','/static/cube-images/cube-display-default.png');
			$('#cubedisplay-memory').attr('src','/static/cube-images/cube-memory-default.png');
			$('#cubedisplay-cpu').attr('src','/static/cube-images/cube-cpu-default.png');
			$('#cubedisplay-gpu').attr('src','/static/cube-images/cube-gpu-default.png');
			$('#cube-avatar').attr('src', '/static/cube-images/cube-avatar-default.png');
			
			//
			//
			// Remove display titles
			$('.item-slot-section').empty();
			
			
			var componentCount = 0;
			var worstComponent = null;
			var worstComponentDetail = null;
			
			// render the current rig
			for (comp in currentRig) {
				
				if (comp === 'target') continue;
				
				var compId = currentRig[comp];
				if (compId === null || compId === undefined) {
					continue;
				}
				
				// incremenent component count... will be used later
				componentCount++;
				
				// pull part and information from cache
				var partDetail = partsCache[compId];
				
				// comptype
				var compType = comp.substr(0, comp.indexOf('_id'));
				console.log('comp type: ' + compType);
				
				// modify view
				var view = $('#' + compType + '-section');
				view.empty();
				
				var displaySpan = $('<span></span>');
				displaySpan.append(constructDisplayName(partDetail));
				displaySpan.addClass('fg-' + partDetail.perf_color);
				displaySpan.addClass('part-item-title');
				
				view.append(displaySpan);
				
				// modify colors
				$('#cubedisplay-' + compType).attr('src',
						'/static/cube-images/cube-' + compType + '-' + partDetail.perf_color + '.png');
				
				if (worstComponent == null || partDetail.perf_color_coded < worstComponent) {
					worstComponent = partDetail.perf_color_coded;
					worstComponentDetail = partDetail;
				}
			}
			
			if (componentCount == 4) {
				//alert('All 4 ... aaaaannnd............     ' + worstComponent.perf_color);
				$('#cubedisplay-middle').attr('src','/static/cube-images/cube-middle-' + worstComponentDetail.perf_color + '.png');
				$('#cube-avatar').attr('src', '/static/cube-images/cube-avatar-' + worstComponentDetail.perf_color + '.png');
			}
			
		}
		
		function constructDisplayName(part){
			var partName = "";
			if (part.vendor !== undefined && part.vendor !== null) partName += part.vendor + ' ';
			if (part.brand_name !== undefined && part.brand_name !== null) partName += part.brand_name + ' ';
			if (part.model_number !== undefined && part.model_number !== null) partName += part.model_number;
			return partName;
		}
		
	});

	
	
</script>
{% endblock %}


