{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <style type="text/css"></style>
{% endblock %}

{% block navleft %}
<p class="navbar-text navbar-center">
  Step 1: Configure&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;
  <b>Step 2: Refine</b>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;
  Step 3: Finalize
</p>
{% endblock %}

{% block navright %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h2 style="text-align:center;">Pick your first part to equip into your cube</h2>
        <br/><br/><br/>
    
        <h3>Search for a specific part</h3>
        <b>SEARCH BOX GOES HERE</b>
        
        <hr>
        OR
        <hr>
        Drop me in... Let's get started!
        <br>
        <a href="namecube" class="btn btn-primary">Take me to the cube</a>
        
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
{% endblock %}