{% extends "base.html" %}
{% block styling %}
  {{ super() }}
  <style type="text/css">
  #faq-title-header{
    border-left: solid 4px #339eee;
    display: inline-block;
    padding-left: 15px;
    left: 34px;
    position: relative;
  }    
  .anchor{padding-top:100px;}
  p{
  color:#999;}
  hr{
    border: solid 1px #333;
  }
  </style>
{% endblock %}


{% block content %}
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 id="faq-title-header">FAQ</h1>
      </div>
    </div>
  </div>
  
  <div style="width:100%; border-bottom:1px solid #333;"></div>
  <br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Top Frequently Asked Questions</h2>
        
        <p><a href="#what-is-amdahl-cube" class="smoothscroll-link">What is Amdahl Cube?</a></p>
        <p><a href="#how-does-amdahl-cube-work" class="smoothscroll-link">How does Amdahl Cube work?</a></p>
        <p><a href="#who-made-amdahl-cube" class="smoothscroll-link">Who made Amdahl Cube?</a></p>
        <p><a href="#do-have-to-pay-anything-to-use-amdahl-cube" class="smoothscroll-link">Do I have to pay anything to use Amdahl Cube?</a></p>
        <p><a href="#how-does-amdahl-cube-determine-these-part-rankings" class="smoothscroll-link">How does Amdahl Cube determine these part rankings?</a></p>
        <p><a href="#same-color-does-that-mean-same-experience" class="smoothscroll-link">If two parts are both the same color, does that mean they deliver the same experience?</a></p>
        <p><a href="#does-amdahl-cube-guarantee-the-selected-parts-will-deliver-that-experience" class="smoothscroll-link">Does Amdahl Cube guarantee the selected parts will deliver that experience?</a></p>
        <p><a href="#part-rankings-is-wrong-how-can-i-change-it" class="smoothscroll-link">I think one of your part rankings is wrong. How can I change it?</a></p>
        <p><a href="#i-am-a-dinosaur" class="smoothscroll-link">I am a dinosaur.</a></p>
        
        <br>
        <br>
        <br>
        
        
        <h2 class="anchor" id="what-is-amdahl-cube">What is Amdahl Cube?</h2>
        <p>Amdahl Cube is a platform for gaming hardware designed primarily for understanding what sort of experience you want. We want to give gamers better tools to select, recommend, and show off their hardware.</p> 
        <p>When a console gamer buys their hardware, they might not know exactly how games will work, but they know it will run games designed for that hardware and that it will run it as well as everyone else. That is not the case for PC gamers, and it represents a huge learning curve for new gamers as well as gamers that don’t buy new components that often and, as a result, have to do a lot of homework about what they should upgrade every time they want to buy something new.</p>
        <a href="#">Back to top</a>
  
        <h2 class="anchor" id="how-does-amdahl-cube-work">How does Amdahl Cube work?</h2>
        <p>With Amdahl Cube, we have separated the components that directly affect performance from the supporting components. Each of the components that directly affects performance has been assigned to a performance tier based on its maximum observed performance.</p>
        <p>This should be a really familiar system - it works the same way as loot tiers from games themselves.</p>
        <p>When designing a totally new PC, select components from the same tier to get a balanced system - just match the colors.</p> 
        <p>When upgrading an existing PC, select the components you currently own. Some components you already own may be able to support performance above how you use them today - that is, they are not the bottleneck. Keep those components and only swap out the older ones, and you will see better performance.</p>
        <a href="#">Back to top</a>
  
        <h2 class="anchor" id="who-made-amdahl-cube">Who made Amdahl Cube?</h2>
        <p>Amdahl Cube was created by Shan Randhawa and Rob L’Heureux. Rob is an avid PC gamer and works for Intel, though not on the gaming side of the business. He worked on this in his free time, and Intel asked him to make it clear it’s not their product, they haven’t actually seen any of the rankings for their own parts or their competitors, they’re not paying him to do it, and they have no relationship with the site.</p>
        <a href="#">Back to top</a>
  
        <h2 class="anchor" id="do-have-to-pay-anything-to-use-amdahl-cube">Do I have to pay anything to use Amdahl Cube?</h2>
        <p>No, Amdahl Cube is free. We want to continue development, by adding more tools and detailed information. The best way to help us to do that is to use our tool and share it with your fellow gamers. Use the link to your rig to show it to your favorite community to get the word out.</p>
        <a href="#">Back to top</a>
  
        <h2 class="anchor" id="how-does-amdahl-cube-determine-these-part-rankings">How does Amdahl Cube determine these part rankings?</h2>
        <p>The sheer variety of options in PC gaming hardware is awesome but it can be daunting to figure out what you want. For the same reason, it’s near impossible to test every single configuration, especially across multiple games.</p>
        <p>Many gaming websites offer reviews of single components. They do these reviews by forcing it to be the “weakest link” in the system. That is, they put the component they want to understand into a rig filled with the best version of every other component. That way, when they run a game or other workload, they observe the maximum possible performance. They select some games and game settings, then they run repeatable experiments and publish the number for each workload to the public.</p>
        <p>We reviewed numbers from sites like Anandtech and The Tech Report. They do amazing in-depth analysis, and if you want to understand PC gaming, you should read everything they write. Amdahl Cube essentially drew lines where gamers typically do. For example, we looked for parts that could consistently deliver games at a resolution of 1920x1080 at 60 frames per second. If it can meet that threshold consistently, across multiple games in different genres, it would be assigned to that tier. If it can’t, we would look for the performance level it can consistently deliver.</p>
        <p>Note: Games themselves can have settings beyond just resolution that can impact game performance. For our performance tiers, we assumed medium settings on all games except VR. VR components are ones recommended by the manufacturer.</p>
        <a href="#">Back to top</a> 
  
        <h2 class="anchor" id="same-color-does-that-mean-same-experience">If two parts are both the same color, does that mean they deliver the same experience?</h2>
        <p>Not necessarily. If you’ve ever played World of Warcraft or Diablo, you’ll know that a not all items in a color tier are the same, but provide roughly the same output.</p>
        <p>Example: Imagine two parts that are both ranked as 1080p@60 (1080p resolution at 60 frames per second or fps). One of those parts might be delivering 61 frames consistently while another might be delivering 80 frames. The one delivering 80 frames will deliver a much smoother experience, as the game might hit a very demanding point with lots of action on screen, and the system would struggle for a few seconds. The component delivering 80 wouldn’t appear any different, while the part only delivering 60 would have a somewhat noticeable framerate drop. Most people can’t detect much of difference in performance at framerates higher than 60 frames per second, but beneath 60 it might be subtly noticeable. The part delivering 80 fps therefore performs better and is worth more, but it will never be able to run 1440p@60 so the 80 fps part belongs to the same tier as the 60 fps part. That 80 fps part still might be the better one to buy.</p>
        <a href="#">Back to top</a> 
  
        <h2 class="anchor" id="does-amdahl-cube-guarantee-the-selected-parts-will-deliver-that-experience">Does Amdahl Cube guarantee the selected parts will deliver that experience?</h2>
        <p>The short answer is no, because there are so many variables that go into an experience. The hardware is important of course, but the drivers and how the games are coded can greatly influence what you actually see. So a rig might not always deliver that experience with every game.</p> 
        <p>Similarly, some developers do a great job of optimizing the game, so you may see games perform at a tier above what Amdahl Cube recommends.</p> 
        <p>Note: In general, real-time strategy (RTS) games such as Starcraft 2 are more demanding than others and you can expect to bump down a tier, while multiplayer online battle arenas (MOBAs) like League of Legends are less demanding and well optimized and gamers can expect higher performance levels in those games that they might not see in other popular genres, such as first person shooters (FPS) or action adventure games.</p>
        <a href="#">Back to top</a>
        
        <h2 class="anchor" id="part-rankings-is-wrong-how-can-i-change-it">I think one of your part rankings is wrong. How can I change it?</h2>
        <p>We do our best to find evidence of how parts should behave. If you have evidence that we’re wrong, please contact us at support@amdahlcube.com with the component information, the rig information, and the game(s) being observed.</p>
        <a href="#">Back to top</a>
  
        <h2 class="anchor" id="i-am-a-dinosaur">I am a dinosaur.</h2>
        <p>That is not a question, I doubt your claim, and regardless I don’t associate with reptiles.</p>
        <p>P.S. I’m Batman.</p>
        <a href="#">Back to top</a>
        
        <br><br><br><br><br><br>
        
        
      </div>
    </div>
    
  </div>
  
  
{% endblock %}