{% extends "base.html" %}
{% block styling %}
  {{ super() }}
  <style type="text/css">
    .section1{
      width:100%;
      background-image: url("//d2h81apir9utb4.cloudfront.net/images/section1-bg.jpg");
      background-repeat:no-repeat;
      background-position: center top;
      position:relative;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      border-bottom: solid 12px #394a65;
    }
    .section3{
      width:100%;
      background-image: url("//d2h81apir9utb4.cloudfront.net/images/section3bg-image.jpg");
      background-position: center top;
      background-repeat:no-repeat; 
    }
    .section4{
      width:100%;
      background-image: url("/static/images/bg-social.png");
      background-position: center top;
      background-size: cover;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
    .section5{
      width:100%;
      background-image: url("//d2h81apir9utb4.cloudfront.net/images/section3bg-image.jpg");
      background-position: center top;
      background-repeat:no-repeat; 
    }
    .landing-header{
      width: 100%;
      border-left: solid 3px #aaa;
      border-right: solid 3px #aaa;
      text-align: center;
    }
    .anchor{
      display: block;
      position: relative;
      top: 191px;
    }
  </style>
{% endblock %}


{% block content %}
  <div class="section1" id="top">
  
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="text-align: center;">
          <br><div class="hidden-xs hidden-sm"><br><br><br></div>
          <img src="//d2h81apir9utb4.cloudfront.net/images/Top-logo.png" style="width:200px;">
          <br><br>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-12 landing-header"><h1 style="padding:0px;margin:0px;">BUILD YOUR NEXT PC GAMING RIG</h1></div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2" style="text-align: center;">
          <br>
          <p style="color:#ccc; font-size:15px;">Amdahl Cube makes PC gaming hardware easier to understand. Find parts, learn about their performance characteristics, and gain confidence that you're getting the best value for your dollar.</p>
          <br>
          <a href="/bench" class="blue-link" style="font-size: 15px;">Build Your Cube</a>
          <br><br><br><br><br><br><br>
          
        </div>
      </div>
    </div>
  
  </div>
  <div class="section3">
    <div class="container">
      <div class="row">
        <br><br><br>
        <div id="how-it-works"></div>
        <br><br><br><br>
        <div class="col-md-12 landing-header"><h1 style="padding:0px;margin:0px;color:#eeeeee;">DESIGN YOUR RIG</h1></div>
        <br><br><div class="hidden-xs hidden-sm"><br><br></div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2" style="text-align: center;">
          <p style="font-size: 30px; color: #eeeeee;">Building for performance simplified</p>
          <hr style="border: 0; border-top: 4px solid #998; width: 300px;">
          <p style="color: #eeeeee; font-size: 15px;">Amdahl Cube makes it easy to build a PC and understand the performance you can expect as you go.</p>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3" style="text-align: center;">
          <div class="hidden-xs hidden-sm">
            <img src="//d2h81apir9utb4.cloudfront.net/images/icon_section3_1.png" style="width:80%;"> <!-- DESKTOP -->
            <p style="color:#eeeeee;; font-size: 15px;">Designing a PC is as easy as equipping an item.</p>
          </div>
          <div class="hidden-md hidden-lg">
            <img src="//d2h81apir9utb4.cloudfront.net/images/icon_section3_1.png" style="width:175px;"> <!-- MOBILE -->
            <p style="color:#eeeeee;; font-size: 15px;">Designing a PC is as easy as equipping an item.</p>
          </div>
        </div>
        <div class="col-sm-3" style="text-align: center;">
          <div class="hidden-xs hidden-sm">
            <img src="//d2h81apir9utb4.cloudfront.net/images/icon_section3_2.png" style="width:80%;"> <!-- DESKTOP -->
            <p style="color:#eeeeee;; font-size: 15px;">Components that directly influence performance have been ranked and color coded.</p>
          </div>
          <div class="hidden-md hidden-lg">
            <img src="//d2h81apir9utb4.cloudfront.net/images/icon_section3_2.png" style="width:175px;"> <!-- MOBILE -->
            <p style="color:#eeeeee;; font-size: 15px;">Components that directly influence performance have been ranked and color coded.</p>
          </div>
        </div>
        <div class="col-sm-3" style="text-align: center;">
          <div class="hidden-xs hidden-sm">
            <img src="//d2h81apir9utb4.cloudfront.net/images/icon_section3_3.png" style="width:80%;"> <!-- DESKTOP -->
            <p style="color:#eeeeee;; font-size: 15px;">Match components of the same color to get a system at that performance tier.</p>
          </div>
          <div class="hidden-md hidden-lg">
            <img src="//d2h81apir9utb4.cloudfront.net/images/icon_section3_3.png" style="width:175px;"> <!-- MOBILE -->
            <p style="color:#eeeeee;; font-size: 15px;">Match components of the same color to get a system at that performance tier.</p>
          </div>
        </div>
        <div class="col-sm-3" style="text-align: center;">
          <div class="hidden-xs hidden-sm">
            <img src="//d2h81apir9utb4.cloudfront.net/images/icon_section4_1.png" style="width:80%;"> <!-- DESKTOP -->
            <p style="color:#eeeeee;; font-size: 15px;">Easily identify bottlenecks in your system and know which part to upgrade next.</p>
          </div>
          <div class="hidden-md hidden-lg">
            <img src="//d2h81apir9utb4.cloudfront.net/images/icon_section4_1.png" style="width:175px;"> <!-- MOBILE -->
            <p style="color:#eeeeee;; font-size: 15px;">Easily identify bottlenecks in your system and know which part to upgrade next.</p>
          </div>
        </div>
      </div>
      <div class="row"><div class="col-xs-12"><br><br><br><br><br><br></div></div>
    </div>
  </div>
  
  <div class="section4">
    <div class="container">
      <div class="row" style="text-align: center;">
        <br><br><br>
        <div id="showcase"></div>
        <br><br><br><br>
        <div class="col-md-12 landing-header"><h1 style="padding:0px;margin:0px;color:#eee;">TAKE IT WITH YOU</h1></div>
        <br><br><br><br><br>
        <hr style="border: 0; border-top: 4px solid #eee; width: 300px;">
        
      </div>
      <div class="row">
        <div class="col-xs-4 text-center">
          <div class="hidden-xs hidden-sm">
            <img src="/static/images/icons_section4_social_twitter.png">
          </div>
          <div class="hidden-md hidden-lg">
            <img src="/static/images/icons_section4_social_twitter.png" style="width:80px;">
          </div>
        </div>
        <div class="col-xs-4 text-center">
          <div class="hidden-xs hidden-sm">
            <img src="/static/images/icons_section4_social_facebook.png">
          </div>
          <div class="hidden-md hidden-lg">
            <img src="/static/images/icons_section4_social_facebook.png" style="width:80px;">
          </div>
        </div>
        <div class="col-xs-4 text-center">
          <div class="hidden-xs hidden-sm">
            <img src="/static/images/icons_section4_social_reddit.png">
          </div>
          <div class="hidden-md hidden-lg">
            <img src="/static/images/icons_section4_social_reddit.png" style="width:80px;">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2" style="text-align: center;">
          <br><br>
          <p style="font-size: 30px; color:#eee;">A PC is a box at your feet and your ticket to new worlds and communities.</p>
          <br>
          <p style="color:#eee; font-size: 15px;">Take your cube with you to your favorite places. Share it with your PCMR friends. Post it for your Twitch followers. Take pride in your cube.</p>
          <br><br><br><br><br>
        </div>
      </div>
    </div>
  </div>
  
  <div class="section5">
  
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2" style="text-align: center;">
          <br><br><br><br><br>
          <p style="font-size: 30px; color:#eee;">We'll Be Ready</p>
          <br>
          <hr style="border: 0; border-top: 4px solid #eee; width: 300px;">
          <br>
          <p style="color:#eee; font-size: 15px;">PC hardware is always getting better. We'll keep you updated when new parts come out. Let us help you upgrade your rig or pick out the perfect rig for the friends that have your back in the arena.</p>
          <br><br><br><br><br><br>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}