{% extends "base.html" %}
{% block styling %}
  {{ super() }}
  <style type="text/css">
    .section1-old{
      width:100%;
      background-image: url("//d2h81apir9utb4.cloudfront.net/images/section1-bg.jpg");
      background-repeat:no-repeat;
      background-position: center top;
      position:relative;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    
    }
    .ppsection{
      display: none; 
    }
    .section3{
      width:100%;
      background-image: url("//d2h81apir9utb4.cloudfront.net/images/section3bg-image.jpg");
      background-position: center top;
      background-repeat:no-repeat; 
    }
    .section4{
      width:100%;
      background-image: url("/static/images/bg-social.png");
      background-position: center top;
      background-size: cover;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
    .section5{
      width:100%;
      background-image: url("//d2h81apir9utb4.cloudfront.net/images/section3bg-image.jpg");
      background-position: center top;
      background-repeat:no-repeat; 
    }
    .landing-header{
      width: 100%;
      border-left: solid 3px #aaa;
      border-right: solid 3px #aaa;
      text-align: center;
    }
    .anchor{
      display: block;
      position: relative;
      top: 191px;
    }
    .lp-cube-image{
      width: 60px;
      padding-left: -10px;
      padding-right: 15px;
    }
    #max-performance-text{
      padding-top: 40px;
      padding-left: 15px;
      font-size: 21px;
    }
    .pp-explainer-text{
      color: #ddd;
      padding-top:10px;
    }
    #pp-price-text{
      color: #04bf1e;
      font-size: 19px;
      font-weight: bold;
    }
    .home-report-title-text{
      font-size: 17px;
      color: #ffffff;
      font-family: 'Open sans', sans-serif;
      font-weight: bold;
    }
    table#buy-on-amazon-table td{
      padding:10px;
    }
    #buy-on-amazon-table{
      width: 100%;
    }
    .color-meter-obj{
      display:inline-block;
      height:5px;
      width: 16%;
      padding:0px;
      margin:0px;
      border:0px;
      cursor: pointer;
    }
    .color-meter-obj-selected{
      height:15px;
    }
    
    .tt-query {
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
    .tt-hint {
      color: #ccc;
    }
    .tt-menu {    /* used to be tt-dropdown-menu in older versions */
      width: 422px;
      margin-top: 4px;
      padding: 4px 0;
      background-color: #091933;
      border: 1px solid #ccc;
      border: 1px solid rgba(0, 0, 0, 0.2);
      font-size: 15px;
      text-align: left;
      -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
         -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
              box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }
    .tt-suggestion {
      padding: 3px 20px;
      line-height: 24px;
      cursor: pointer;
    }
    .tt-suggestion.tt-cursor,.tt-suggestion:hover {
      color: #ffffff;
      background-color:#000000;
    }
    .tt-suggestion p {
      margin: 0;
    }
    .scrollable-dropdown-menu .tt-menu {
      max-height: 200px;
      overflow-y: auto;
    }
    .tt-item-right {
      display: inline-block;
      max-width: 300px;
    }
    .tt-item-left {
      display: inline-block;
      vertical-align: top;
    }
    .tt-item-price{
      font-size: 13px;
      color: #00bf00;
    }
    .twitter-typeahead{
     width: 97%;
    }
    .tt-dropdown-menu{
        width: 102%;
    }
    
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ffffff;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color:    #ffffff;
       opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
       color:    #ffffff;
       opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
       color:    #ffffff;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
       color:    #ffffff;
    }
    
    input[type="text"].lpp-input {
      outline: none;
      border:none;
      border-bottom: solid 2px #ffffff;
      background: transparent;
      font-weight: 700;
      min-width: 100%;
      font-size: 16px;
      color: #eeeeee;
       cursor: pointer;
    }
    input[type="text"].lpp-input:focus {
      border-bottom: solid 5px #ffffff;
    }
    input[type="email"].subscribe-input {
      outline: none;
      border:none;
      border-bottom: solid 3px #ffffff;
      background: transparent;
      font-weight: 700;
      width:100%;
      font-size: 16px;
      color: #eeeeee;
    }
    
  </style>
{% endblock %}


{% block content %}
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="text-align: center;">
          <div class="hidden-xs hidden-sm"><br></div>
          <br><br>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-12 landing-header"><h1 style="padding:0px;margin:0px;">KNOW MORE BEFORE BUYING</h1></div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <br>
          <p style="color:#eee; font-size:17px;">
            See how your next gaming PC will perform before you buy it.<br>Drop in your parts below to get a report.<br>
          </p>
          <br><br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" id="pp-select-parts-div">
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="scrollable-dropdown-menu">
            <input type="text" class="typeahead lpp-input" id="cpu-ta-input" placeholder="Select Processor"/>
          </div>
          <br><br>
        </div>
        <div class="col-md-4">
          <div class="scrollable-dropdown-menu">
            <input type="text" class="typeahead lpp-input" id="gpu-ta-input" placeholder="Select Graphics Card"/>
          </div>
          <br><br>
        </div>
        <div class="col-md-4 text-center">
          <a href="/bench" class="blue-link" style="font-size: 15px;" id="build-rig-link">Or Build Now</a>
        </div>
      </div>
    </div>
    <div class="ppsection">
        <div class="container">
          <div class="row">
            <div class="col-sm-8">
              <br>
              <span class="home-report-title-text">Performance Report</span>
              <br>
              <div id="the-cube-js-div" style="padding-top:25px;"></div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-4"><img src="/static/cube-images/ac-cube-small-default.png" id="max-performance-cube-image" /></div>
                    <div class="col-xs-6"><div id="max-performance-text"></div></div>
                </div>
                <div class="row">
                    <div class="col-xs-12" style="font-size: 0px; vertical-align: middle;">
                        <div class="color-meter-obj bg-gray" id="color-meter-obj-gray"></div>
                        <div class="color-meter-obj bg-green" id="color-meter-obj-green"></div>
                        <div class="color-meter-obj bg-blue" id="color-meter-obj-blue"></div>
                        <div class="color-meter-obj bg-orange" id="color-meter-obj-orange"></div>
                        <div class="color-meter-obj bg-black" id="color-meter-obj-black"></div>
                        <div class="color-meter-obj bg-purple" id="color-meter-obj-purple"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="pp-explainer-text" id="max-performance-long-text"></p>
                        <p class="pp-explainer-text">The total purchase price for the parts selected is:</p>
                        <div class="text-center">
                            <span id="pp-price-text">$500.87</span><small>&nbsp;&nbsp;On Amazon</small>
                        </div>
                        <div>
                            <br>
                            <table id="buy-on-amazon-table"></table>
                            <br>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
          </div>
          
        </div>
    </div>
  </div>
  
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/js/typeahead.bundle.min.js"></script>
<script type="text/javascript">

    $(function(){
        
        var selectedGpu = null;
        var selectedCpu = null;
        var neverScrolled = true;
        
        function constructBuyTableRow(comp){
            var trHtml = '<tr><td class="fg-' + comp.perf_color + '">';
            trHtml += comp.display_name;
            if (comp.priceformatted) {
                trHtml += '</td><td><a target="_blank" href="' + comp.buyurl + '">' + comp.priceformatted + '</td></tr>';
            } else {
                trHtml += '</td><td>Price unavailable</td></tr>';
            }
            return trHtml;
        }
        
        var ppDataCached = null;
        
        function renderPerformanceDataAndBars(data){
            // render bars
            drawBars('the-cube-js-div', data.renderbars);
            
            // update performance info
            if (data.performance) {
                $('#max-performance-cube-image').attr('src', '/static/cube-images/ac-cube-small-' + data.performance.color + '.png');
                $('#max-performance-text').text(data.performance.string).removeClass().addClass('fg-' + data.performance.color);
                $('#max-performance-long-text').text(data.explain);
                $('#pp-price-text').text(data.total_price);
                
                $('#buy-on-amazon-table').empty();
                if (selectedCpu) $('#buy-on-amazon-table').append(constructBuyTableRow(selectedCpu));
                if (selectedGpu) $('#buy-on-amazon-table').append(constructBuyTableRow(selectedGpu));
                
                $('.color-meter-obj').removeClass('color-meter-obj-selected');
                $('#color-meter-obj-' + data.performance.color).addClass('color-meter-obj-selected');
                
            } else {
                //
            }
        }
        
        $('.color-meter-obj').click(function(){
            // open legend modal
            $('#legend-modal').modal('show');
        });
        
        function refreshBars(fetchData){
            
            fetchData = fetchData || false;
            
            var params = {};
            if (selectedCpu) params['c'] = selectedCpu.id;
            if (selectedGpu) params['g'] = selectedGpu.id;
            
            if (fetchData) {
                $.getJSON('/pp', params).success(function(data){
                    ppDataCached = data;
                    renderPerformanceDataAndBars(data);
                });
            } else {
                if (ppDataCached) renderPerformanceDataAndBars(ppDataCached);
            }
            
        }
        
        function initTypeAhead(compList, elmId, suggest, cType) {
            var engine = new Bloodhound({
                local : compList,
                identify : function(obj) { return obj.id; },
                queryTokenizer : Bloodhound.tokenizers.nonword,
                datumTokenizer : Bloodhound.tokenizers.obj.nonword('display_name')
            });
            
            $('#' + elmId).typeahead({ minLength : 0, highlight : true}, {
                limit: 15,
                name : elmId + '_Dataset',
                source : function(q, sync) {
                    if (q === '') sync(engine.get(suggest));
                    else {
                        engine.search(q, sync);
                    }
                },
                display: 'display_name',
                templates: {
                    suggestion: function(obj) {
                        var suggHtml = '<div class="fg-' + obj.perf_color + '">';
                        suggHtml += '<div class="tt-item-left"><img class="lp-cube-image" src="/static/cube-images/ac-cube-small-' + obj.perf_color + '.png" /></div>';
                        suggHtml += '<div class="tt-item-right" style="display:inline-block;">' + obj.display_name;
                        if (obj.priceformatted) {
                            suggHtml += '<br><span class="tt-item-price">' + obj.priceformatted + '</span>'  + '</div></div>';
                        } else {
                            suggHtml += '<br><small style="color:#ccc;">Pricing unavailable</small>' + '</div></div>';
                        }
                        return suggHtml;
                    }
                }
            }).bind('typeahead:select', function(jqueryevent, obj){
                
                if (!$('.ppsection').is(":visible")) $('.ppsection').show();
                
                if (cType === 'CPU') selectedCpu = obj;
                else if (cType === 'GPU') selectedGpu = obj;
                
                // modify what happens with build link
                $('#build-rig-link').text('Build with selected parts');
                $('#build-rig-link').click(function(e){
                    e.preventDefault();
                    var params = {};
                    if (selectedCpu) params['cpu'] = selectedCpu.id;
                    if (selectedGpu) params['gpu'] = selectedGpu.id;
                    window.location = '/bench?' + $.param(params);
                });
                
                $('#' + elmId).removeClass(function(idx, className){
                    var classes = className.split(' ');
                    for (var i=0;i<classes.length;i++) {
                        if (classes[i].startsWith('fg')) {
                            return classes[i];
                        }
                    }
                }).addClass('fg-' + obj.perf_color);
                
                refreshBars(true);
                
                // deselect input
                $('input').blur();
                
                if (neverScrolled) {
                    neverScrolled = false;
                    $('html, body').animate({scrollTop: $("#pp-select-parts-div").offset().top-70}, 400);
                }
                
            }).bind('typeahead:active', function(){
                $('#' + elmId).typeahead('val', null);
            });
        }
        
        $.getJSON('/landingpageparts', function(jsonData){
            
            initTypeAhead(jsonData.cpus, 'cpu-ta-input', jsonData.suggest.cpu, 'CPU');
            initTypeAhead(jsonData.gpus, 'gpu-ta-input', jsonData.suggest.gpu, 'GPU');
        });

        $(window).resize(function(){
            refreshBars();
        })
        
        //
        //
        //
        //
        //
        // RENDERING BARS
        // ////////
        var initializedCanvas = {};
        
        function initCanvasInDiv(divElmId, w, h) {
            
            var canvas = null;
            if (initializedCanvas[divElmId]) {
                canvas = initializedCanvas[divElmId];
                canvas.id = "canvas_" + divElmId;
                
            } else {
                canvas = document.createElement('canvas');
                var div = document.getElementById(divElmId);
                div.appendChild(canvas);
                initializedCanvas[divElmId] = canvas;
            }
            
            canvas.width = w * (window.devicePixelRatio || 1);
            canvas.height = h * (window.devicePixelRatio || 1);
            canvas.style.width = w + 'px';
            canvas.style.height = h + 'px';
            
            return canvas;
        }
    
        
        var renderedBarsByElm = {};
        function drawBars(elmId, bars) {
            // the list of bars passed in are to be rendered on the canvas
            // this method will call the render function the necessary
            // number of times in order to animate the changing size of the bars
            
            // there are two bars for each genre
            // they both need to be animated?
            
                    
            var renderedBars = renderedBarsByElm[elmId]; // if multiple canvases
            if (!renderedBars) {
                renderedBars = {};
                renderedBarsByElm[elmId] = renderedBars;
            }
            
            if (Object.keys(renderedBars).length === 0) {
                // first render so populate with initial bars
                for (var i=0; i<bars.length; i++) {
                    renderedBars[bars[i]['title']] = {};
                    renderedBars[bars[i]['title']].fill1080p = 0;
                    renderedBars[bars[i]['title']].fill1440p = 0;
                    renderedBars[bars[i]['title']].fill2160p = 0;
                    renderedBars[bars[i]['title']].size = 0;
                }
            }
            
            // now determine step size
            var stepCount = 30; // 60 fps and half second animation time
            var stepSizes = {};
            var maxFps = 120;
            for (var i=0; i<bars.length; i++) {
                bars[i]['barFillStepSize1080p'] = (bars[i]['barFillFps1080p'] - renderedBars[bars[i]['title']].fill1080p) / stepCount;
                bars[i]['barFillStepSize1440p'] = (bars[i]['barFillFps1440p'] - renderedBars[bars[i]['title']].fill1440p) / stepCount;
                bars[i]['barFillStepSize2160p'] = (bars[i]['barFillFps2160p'] - renderedBars[bars[i]['title']].fill2160p) / stepCount;
                bars[i]['barFillFps1080pBefore'] = renderedBars[bars[i]['title']].fill1080p;
                bars[i]['barFillFps1440pBefore'] = renderedBars[bars[i]['title']].fill1440p;
                bars[i]['barFillFps2160pBefore'] = renderedBars[bars[i]['title']].fill2160p;
                
                bars[i]['barSizeStepSize'] = (bars[i]['barSizeFps'] - renderedBars[bars[i]['title']].size) / stepCount;
                bars[i]['barSizeFpsBefore'] = renderedBars[bars[i]['title']].size;
                
                renderedBars[bars[i]['title']].fill1080p = bars[i]['barFillFps1080p']; // update the old size
                renderedBars[bars[i]['title']].fill1440p = bars[i]['barFillFps1440p']; // update the old size
                renderedBars[bars[i]['title']].fill2160p = bars[i]['barFillFps2160p']; // update the old size
                renderedBars[bars[i]['title']].size = bars[i]['barSizeFps']; // update the old size
                
                // check max
                if (bars[i]['barSizeFps'] && bars[i]['barSizeFps'] > maxFps) {
                    maxFps = bars[i]['barSizeFps'];
                } else if (bars[i]['barFillFps1080p'] && bars[i]['barFillFps1080p'] > maxFps) {
                    maxFps = bars[i]['barFillFps1080p'];
                }
                
            }
            
            maxFps = (maxFps == 0) ? 200 : maxFps;
            renderInsideElement(elmId, bars, maxFps + 10, 0, 30);
        }
        
        function getLines(ctx, text, maxWidth) {
            var words = text.split(" ");
            var lines = [];
            var currentLine = words[0];

            for (var i = 1; i < words.length; i++) {
                var word = words[i];
                var width = ctx.measureText(currentLine + " " + word).width;
                if (width < maxWidth) {
                    currentLine += " " + word;
                } else {
                    lines.push(currentLine);
                    currentLine = word;
                }
            }
            lines.push(currentLine);
            return lines;
        }
        
        function roundRect(ctx, x, y, width, height, radius, fill, stroke) {
            if (typeof stroke == 'undefined') {
                stroke = true;
            }
            if (typeof radius === 'undefined') {
                radius = 5;
            }
            if (typeof radius === 'number') {
                radius = {tl: radius, tr: radius, br: radius, bl: radius};
            } else {
                var defaultRadius = {tl: 0, tr: 0, br: 0, bl: 0};
                for (var side in defaultRadius) {
                    radius[side] = radius[side] || defaultRadius[side];
                    }
            }
            ctx.beginPath();
            ctx.moveTo(x + radius.tl, y);
            ctx.lineTo(x + width - radius.tr, y);
            ctx.quadraticCurveTo(x + width, y, x + width, y + radius.tr);
            ctx.lineTo(x + width, y + height - radius.br);
            ctx.quadraticCurveTo(x + width, y + height, x + width - radius.br, y + height);
            ctx.lineTo(x + radius.bl, y + height);
            ctx.quadraticCurveTo(x, y + height, x, y + height - radius.bl);
            ctx.lineTo(x, y + radius.tl);
            ctx.quadraticCurveTo(x, y, x + radius.tl, y);
            ctx.closePath();
            if (fill) {
                ctx.fill();
            }
            if (stroke) {
                ctx.stroke();
            }
        }
        
        function renderInsideElement(elmId, bars, barMaxFps, stepCount, maxSteps) {
            
            //var reportTitle = 'FPS Performance Report';
            var barMargin = 16; // bar margin (space between bars)
            var barHeight = 13; // bar height
            var legendWidth = 220;
            var legendHeight = 48;
            var legendPadding = 15;
            var sectionHeight = ((barMargin - barHeight) * 2) + barHeight *3;
            var sectionPaddingBottom = 50;
            var titleSectionHeight = 100;
            var cpuBarsColor = '#FF0000';
            var gpuBarsColor = '#04bf1e';
            var backgroundColor = '#121526';
            var backgroundBarsColor = '#000000';
            var barBorderRadius = barHeight/4;
            
            var cWidth = document.getElementById(elmId).clientWidth - 40;
            var cHeight = (bars.length * (sectionHeight + sectionPaddingBottom)) + (legendPadding * 2) + legendHeight;
            
            var canvas = initCanvasInDiv(elmId, cWidth, cHeight);
    
            var ctx = canvas.getContext('2d');
            
            if (window.devicePixelRatio && window.devicePixelRatio > 1) {
                console.log(window.devicePixelRatio);
                ctx.scale(window.devicePixelRatio, window.devicePixelRatio);
            }
            
            ctx.clearRect(0, 0, cWidth, cHeight);
            
            //ctx.fillStyle = backgroundColor;
            //ctx.fillRect(0, 0, cWidth, cHeight);
            
            ctx.font = '20px  \'Open sans\', sans-serif';
            ctx.textAlign = 'left';
            ctx.fillStyle = 'white';
            //ctx.fillText(reportTitle, 15, 40);
            
            for (var i=0; i<bars.length; i++){
                
                var yPos = (i * (sectionHeight + sectionPaddingBottom));
                var xPosText = 10;
                
                var textColRatio = 0.3;
                if (cWidth < 500) textColRatio = 0.5;
                if (cWidth < 370) textColRatio = 0.55;
                
                var xPosBar = cWidth * textColRatio;

                var maxBarWidth = cWidth - xPosBar - 20;
                
                // determine proportion for this bar
                var barFill1080p = bars[i].barFillFps1080pBefore + (stepCount * bars[i].barFillStepSize1080p);
                var barFillProportion1080p = (maxBarWidth / barMaxFps) * barFill1080p;
                var barFill1440p = bars[i].barFillFps1440pBefore + (stepCount * bars[i].barFillStepSize1440p);
                var barFillProportion1440p = (maxBarWidth / barMaxFps) * barFill1440p;
                var barFill2160p = bars[i].barFillFps2160pBefore + (stepCount * bars[i].barFillStepSize2160p);
                var barFillProportion2160p = (maxBarWidth / barMaxFps) * barFill2160p;
                var barSize = bars[i].barSizeFpsBefore + (stepCount * bars[i].barSizeStepSize);
                var barSizeProportion = (maxBarWidth / barMaxFps) * barSize;
                
                //
                // FILL BARS BACKGROUND
                ctx.fillStyle = backgroundBarsColor;
                //roundRect(ctx, xPosBar, yPos, maxBarWidth, barHeight, barBorderRadius, true, false);
                //roundRect(ctx, xPosBar, yPos + barMargin, maxBarWidth, barHeight, barBorderRadius, true, false);
                //roundRect(ctx, xPosBar, yPos + (barMargin * 2), maxBarWidth, barHeight, barBorderRadius, true, false);
                
                //
                // FILL BARS CPU
                ctx.fillStyle = cpuBarsColor; // CPU
                roundRect(ctx, xPosBar, yPos, barSizeProportion, barHeight, barBorderRadius, true, false);
                roundRect(ctx, xPosBar, yPos + barMargin, barSizeProportion, barHeight, barBorderRadius, true, false);
                roundRect(ctx, xPosBar, yPos + (barMargin * 2), barSizeProportion, barHeight, barBorderRadius, true, false);
                
                //
                // FILL BARS GPU
                ctx.fillStyle = gpuBarsColor; // GPU
                if (barFillProportion1080p) roundRect(ctx, xPosBar, yPos, Math.min(barFillProportion1080p, barSizeProportion), barHeight, barBorderRadius, true, false);
                if (barFillProportion1440p) roundRect(ctx, xPosBar, yPos + barMargin, Math.min(barFillProportion1440p, barSizeProportion), barHeight, barBorderRadius, true, false);
                if (barFillProportion2160p) roundRect(ctx, xPosBar, yPos + (barMargin * 2), Math.min(barFillProportion2160p, barSizeProportion), barHeight, barBorderRadius, true, false);
                
                //
                // create tick and bar labels
                var tickFontSize = 10;
                ctx.font = tickFontSize + 'px  \'Open sans\', sans-serif';
                ctx.textAlign = 'left';
                ctx.fillStyle = 'white';
                ctx.fillText('1080p', xPosBar - (tickFontSize * 4), yPos + (barHeight/2) + (tickFontSize/2));
                ctx.fillText('1440p', xPosBar - (tickFontSize * 4), yPos + (barHeight/2) + (tickFontSize/2) + (barMargin));
                ctx.fillText('2160p', xPosBar - (tickFontSize * 4), yPos + (barHeight/2) + (tickFontSize/2) + (barMargin*2));
                
                //
                // create tick marks
                var tickOverlap = 3; // how much to overlap top and bottom
                var tickHeight = sectionHeight + tickOverlap*2;
                var tickLabelYPos = yPos + tickHeight + tickOverlap + tickFontSize;
                ctx.fillStyle = '#FFFFFF'; // ticks
                ctx.fillRect(xPosBar + (maxBarWidth * (30/barMaxFps)), yPos - tickOverlap, 1, tickHeight); //30 fps
                ctx.fillRect(xPosBar + (maxBarWidth * (60/barMaxFps)), yPos - tickOverlap, 1, tickHeight); //60 fps
                ctx.fillRect(xPosBar + (maxBarWidth * (120/barMaxFps)), yPos - tickOverlap, 1, tickHeight); //120 fps
                ctx.fillText('30', xPosBar + (maxBarWidth * (30/barMaxFps)) - (tickFontSize/2), tickLabelYPos);
                ctx.fillText('60', xPosBar + (maxBarWidth * (60/barMaxFps)) - (tickFontSize/2), tickLabelYPos);
                ctx.fillText('120', xPosBar + (maxBarWidth * (120/barMaxFps)) - (tickFontSize/2), tickLabelYPos);
                
                //
                // bar group labels (genres)
                var fontSize = 14;
                ctx.font = fontSize + 'px  \'Open sans\', sans-serif';
                var textLines = getLines(ctx, bars[i].title, xPosBar - 60);
                var gapSize = sectionHeight / (textLines.length + 1);
                for (var j=0; j<textLines.length; j++) {
                    var textYPos = yPos + (gapSize * (j + 1)) + (fontSize/2);
                    if (j > 0) {
                        textYPos += (fontSize/2) * j;
                    }
                    ctx.fillText(textLines[j], 0, textYPos);
                }
                
                
                
            }
            
            //
            // legend
            ctx.fillStyle = '#000000';
            ctx.fillRect(cWidth/2 - legendWidth/2, cHeight - legendHeight - 15, legendWidth, legendHeight); //30 fps
            ctx.fillStyle = '#ffffff';
            ctx.font = '12px  \'Open sans\', sans-serif';
            ctx.fillText('Legend', cWidth/2 - 13, cHeight - legendHeight);
            ctx.font = '10px  \'Fjalla one\', sans-serif';
            ctx.fillText('CPU Max Framerate', (cWidth/2) - (legendWidth/2) + 22, cHeight - 10 - legendHeight * 0.35);
            ctx.fillText('Expected FPS', (cWidth/2) + 22, cHeight - 10 - legendHeight * 0.35);
            ctx.beginPath();
            ctx.arc((cWidth/2) - (legendWidth/2) + 15, cHeight - 15 - legendHeight * 0.35, 4, 0, Math.PI * 2, true); // CPU circle
            ctx.fillStyle = cpuBarsColor; // CPU
            ctx.fill();
            ctx.closePath();
            
            ctx.beginPath();
            ctx.arc((cWidth/2) + 15, cHeight - 15 - legendHeight * 0.35, 4, 0, Math.PI * 2, true); // GPU circle
            ctx.fillStyle = gpuBarsColor; // GPU
            ctx.fill();
            ctx.closePath();
            
            var fontSize = 10;
            ctx.font = fontSize + 'px \'Open sans\', sans-serif';
            ctx.font = '10px';
            ctx.textAlign = 'right';
            ctx.fillStyle = 'white';
            //ctx.fillText('200FPS Max', cWidth - 5, 15);
    
            if (stepCount < maxSteps) window.setTimeout(renderInsideElement, 15, elmId, bars, barMaxFps, stepCount + 1, maxSteps);
        }
    
        
        
        
        
    });

</script>
{% endblock %}