{% extends "base.html" %}
{% block styling %}
  {{ super() }}
  <style type="text/css"></style>
{% endblock %}

{% block navleft %}
{% if current_user.is_authenticated %}
{{ super() }}
{% else %}
<h3 class="navbar-page-title">
  Name your cube
</h3>
{% endif %}
{% endblock %}


{% block content %}

  <div style="width:100%; border-bottom: 3px #2a263f solid; text-align: center;" class="wizard-steps-breadcrumbs">
    <ul>
      <li>CONFIGURE</li>
      <li class="active">NAME</li>
      <li>BUILD & FINISH</li>
    </ul>
  </div>
  <br><br>

  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8" style="text-align:center;">
        <span class="wizard-sub-heading">Every great customized product starts with a name</span>
        <br/><br/>
    
      </div>
      <div class="col-md-2">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4" style="text-align: center;">
        <form method="get" action="bench">
          <input type="text" name="name" placeholder="CUBE NAME" class="ac-input large" style="width:100%;"/>
          
          {% if preset %}
          <input type="text" name="preset" style="display:none;" value="{{preset}}"/>
          {% endif %}
          <br><br>
          <input type="submit" class="ac-btn" value="Select Name">
          &nbsp;&nbsp;&nbsp;
          <a href="bench{% if preset %}?preset={{preset}}{% endif %}" class="ac-btn">Skip, Do This later</a>
        </form>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
{% endblock %}