{% extends "base.html" %}
{% block styling %}
  {{ super() }}
  <style type="text/css"></style>
{% endblock %}


{% block content %}

  <br>

  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8" style="text-align:center;">
        <span class="wizard-sub-heading">Every great customized product starts with a name</span>
        <br/><br/>
    
      </div>
      <div class="col-md-2">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4" style="text-align: center;">
        <form method="get" action="bench">
          <input type="text" name="name" placeholder="CUBE NAME" class="ac-input large" style="width:100%;"/>
          
          {% if preset %}
          <input type="text" name="preset" style="display:none;" value="{{preset}}" class="wizparams"/>
          {% endif %}
          
          {% if use %}
          <input type="text" name="use" style="display:none;" value="{{use}}" class="wizparams"/>
          {% endif %}
          
          {% if upgrade %}
          <input type="text" name="upgrade" style="display:none;" value="{{upgrade}}" class="wizparams"/>
          {% endif %}
          
          <br><br>
          <input type="submit" class="ac-btn" value="Select Name">
          &nbsp;&nbsp;&nbsp;
          <a href="bench" class="ac-btn" id="skipthislink">Skip, Do This later</a>
        </form>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
  
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  
{% endblock %}

{% block javascript %}

<script type="text/javascript">
	$(function(){
		
		var params = {};
		
		$('.wizparams').each(function(){
			// get the params into a URL format
			var name = $(this).attr('name');
			var value = $(this).val();
			params[name]=value;
		});
		
		$('#skipthislink').attr('href', '/bench?' + $.param(params));
	});

</script>


{% endblock %}