{% extends "base.html" %}
{% block styling %}
  {{ super() }}
  <style type="text/css"></style>
{% endblock %}

{% block navleft %}
<p class="navsteps">
  Step 1: Configure&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;
  <b>Step 2: Refine</b>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;
  Step 3: Finalize
</p>
{% endblock %}


{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h2 style="text-align:center;">Any good Cube starts with a name</h2>
        <br/><br/><br/>
    
        <p>Name your cube below. You can change it later or even skip this step if you desire</p>
        <form method="get" action="bench">
          <input type="text" name="name" placeholder="Name cube.." />
          
          {% if preset %}
          <input type="text" name="preset" style="display:none;" value="{{preset}}"/>
          {% endif %}
          
          <hr>
          <input type="submit" class="btn btn-primary" value="Name my Cube">
        </form>
        
        <a href="bench{% if preset %}?preset={{preset}}{% endif %}" class="btn btn-primary">Skip this step</a>
        
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
{% endblock %}