{% extends "base.html" %}
{% block styling %}
  {{ super() }}
  <style type="text/css"></style>
{% endblock %}

{% block navleft %}
<p class="navsteps">
  <b>Step 1: Configure</b>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;
  Step 2: Refine&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;
  Step 3: Finalize
</p>
{% endblock %}

{% block navright %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h2 style="text-align:center;">Pick a configuration</h2>
        <hr/>
      </div>
      <div class="col-md-2"></div>
    </div>
    
    <div class="row">
    
      <div class="col-md-2">
      </div>
      
      <div class="col-md-4">
        <div class="jumbotron">
          <h3>Easy Mode</h3>
          <p>Start with a Preset</p>
          <p><a class="btn btn-primary btn-lg" href="preset">Go</a></p>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="jumbotron">
          <h3>Custom Mode</h3>
          <p>Fully Customize</p>
          <p><a class="btn btn-primary btn-lg" href="custom">Go</a></p>
        </div>
      </div>
      
      <div class="col-md-2">
      </div>
    </div>
  </div>
{% endblock %}