{% extends "base.html" %}
{% block styling %}
  {{ super() }}
  <style type="text/css"></style>
{% endblock %}

{% block navleft %}
<p class="navsteps">
  Step 1: Configure&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;
  <b>Step 2: Refine</b>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;
  Step 3: Finalize
</p>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h2 style="text-align:center;">Build Your PC the Amdahl Cube Way</h2>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8" style="border:1px solid #ccc">
        <h3>Customize</h3>
        <p><a class="btn btn-primary btn-lg" href="namecube">Go</a></p>
      </div>
      <div class="col-md-2"></div>
    </div>
    
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h2 style="text-align:center;">Or... Select From Our Presets</h2>
      </div>
      <div class="col-md-2"></div>
    </div>
    
    {% for rig in rig_presets %}
    <br>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8" style="border:1px solid #ccc">
        <h3>{{rig.rig_preset_name}}</h3>
        <p><a class="btn btn-primary btn-lg" href="namecube?preset={{rig.id}}">Go</a></p>
      </div>
      <div class="col-md-2"></div>
    </div>
    {% endfor %}
  </div>
{% endblock %}