{% extends "base.html" %}
{% block styling %}
  {{ super() }}
  <style type="text/css"></style>
{% endblock %}


{% block content %}


  <div class="container">
    
    <br>
    <br>
    
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8" style="text-align:center;">
        <span class="wizard-sub-heading">Select A Recommended Rig Below</span>
      </div>
      <div class="col-md-2"></div>
    </div>
    
    {% for rig in rig_presets %}
    <br>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 wizard-item-border" data-href="/bench?preset={{rig.id}}{%if use%}&use={{use}}{%endif%}">
        <div class="row">
          <div class="col-md-5">
              <h2 class="wizard-item-title">{{rig.rig_preset_name | upper}}</h2>
          </div>
          <div class="col-md-7 wizard-select-description hidden-xs hidden-sm">
            <p>{{rig.rig_preset_description}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    {% endfor %}
  </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
	$(function(){
		$('.wizard-item-border').click(function(){
			window.location.href = $(this).data('href');
		});
	});
</script>
{% endblock %}