{% extends "base.html" %}
{% block styling %}
  {{ super() }}
  <style type="text/css"></style>
{% endblock %}

{% block navleft %}
<p class="navsteps">
  Step 1: Configure&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;
  <b>Step 2: Refine</b>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;
  Step 3: Finalize
</p>
{% endblock %}

{% block navright %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h2 style="text-align:center;">Please select a preset</h2>
        <hr/>
      </div>
      <div class="col-md-2"></div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
      {% for rig in rig_presets %}
        <div class="jumbotron" style="display:inline-block;">
          <h3>{{rig.rig_preset_name}}</h3>
          <p><a class="btn btn-primary btn-lg" href="namecube?preset={{rig.id}}">Go</a></p>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}