<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/recommendations/css/materialize.min.css"  media="screen,projection"/>
    <!--Import stylesheet.css -->
    <link href="/static/recommendations/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/static/recommendations/css/loading.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!--Import Fjalla One -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600|Fjalla+One" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="loading" id="loading-spinner">Loading&#8230;</div>
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo"><img style="padding-top: 8px;width:175px;" src="static/images/logo-small.png"></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Build</a></li>
          <li class="active"><a href="#">Upgrade</a></li>
          <li><a href="#">Compare</a></li>
          <li><a href="#">Showcase</a></li>
          <li><a href="#">Track</a></li>
          <li><a href="#"><i class="material-icons">account_circle</i></a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Build</a></li>
          <li class="active"><a href="#">Upgrade</a></li>
          <li><a href="#">Compare</a></li>
          <li><a href="#">Showcase</a></li>
          <li><a href="#">Track</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>

    <!-- User Configuration of CPU Upgrades -->
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s4 m2 l3">
            <h5>CPU Upgrader</h5>
            <h6>Tell us a CPU, new or old, and we'll tell you the next best upgrades, including CPU, memory, and motherboard cost.</h6>
          </div> 
          <div class="col s8 l4">
            <div class="input-field">
              <input placeholder="Type a CPU" id="base_cpu" type="text" class="validate active autocomplete">
              <label for="autocomplete-input">CPU to Upgrade</label>
            </div>
          </div>
          <div class="col l5 hide-on-med-and-down">
            <div class="card white" id="current-cpu-card">
              <div class="card-content">
                  <span class="card-title activator" id="current-cpu-title">Intel Core i5-2500k <i class="material-icons right">more_vert</i></span>
                  <b>How it performs today</b>
                  <p style="line-height:20px;" id="current-cpu-tierinfo">99% of frames better than 30 fps across all game types</p>
                  <br><br><br><br>
              </div>
              <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                    <div id="detail">
                      <table class="striped centered responsive-table">
                        <thead>
                          <tr>
                              <th>Game Type</th>
                              <th>Game</th>
                              <th>Average FPS</th>
                              <th>99% FPS</th>
                              <th>Source</th>
                          </tr>
                        </thead>
                        <tbody id="input-cpu-fps-table">
                          <tr>
                            <td>Open World</td>
                            <td>Watch Dogs 2</td>
                            <td>58.5</td>
                            <td>43.3</td>
                            <td><a href="#">Gamers Nexus</td>
                          </tr>
                          <tr>
                            <td>FPS</td>
                            <td>Battlefield 1</td>
                            <td>115.3</td>
                            <td>78.5</td>
                            <td><a href="#">Gamers Nexus</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>

              
<!--               <div class="card-action blue white-text"> -->
<!--                 <a href="#">I own this part</a> -->
<!--               </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- ---------------------- -->
      <!-- Selected Items Section -->
      
      <!-- Selected CPU -->
      <div class="row your-selected-processor">
        <div class="col l12">
          <h5 class="grey-text">Your Selected Processor <i class="material-icons right clickable" id="cancel-cpu-selection">close</i></h5>
        </div>
      </div>
      <div class="row your-selected-processor">
        <div class="col l12" id="your-selected-processor-display"></div>
      </div>
      
      <!-- Memory Selection. For New Platform, after selecting a CPU and Motherboard. -->
      <div class="row your-selected-motherboard">
        <div class="col l12">
            <h5 class="grey-text">Your Selected Motherboard <i class="material-icons right clickable" id="cancel-mobo-selection">close</i></h5>
        </div>
      </div>
      <div class="row your-selected-motherboard">
        <div class="col l12"  id="your-selected-motherboard-display"></div>
      </div>
      
      <!-- Selected Memory -->
      <div class="row your-selected-memory">
        <div class="col l12">
            <h5 class="grey-text">Your Selected Memory <i class="material-icons right clickable" id="cancel-memory-selection">close</i></h5>
         </div>
      </div>
      <div class="row your-selected-memory">
        <div class="col l12" id="your-selected-memory-display"></div>
      </div>
      <!-- ---------------------- -->
      <!-- ---------------------- -->
    
    
      <div class="row teal first-selection-section">
        <div class="col s3 m2">
          <i class="large material-icons icon-white prefix">arrow_downward</i>
        </div>
        <div class="col s9">
          <h5 class="white-text">Select an Upgrade Path</h5>
          <h6 class="teal-text text-lighten-3">The two paths available are (1) to buy a better processor that fits with your motherboard and memory or (2) buy an entirely new platform. Better processors for older platforms may not always be available new.</h6>
        </div>
        <div class="col s12 teal darken-2">
          <h6 class="teal-text text-lighten-3">Prices are based on Amazon data. Prices for new platform include new motherboard and compliant memory.</h6>
        </div>
      </div>

      <!-- Output type for same socket. This recommends a single component. -->
      <div class="row first-selection-section">
        <div class="col s12" id="table">
            <h5 class="teal-text">CPU Only Upgrades</h5>
            <h6>These do not require a new motherboard or memory. Drop in the new CPU and apply new thermal paste.</h6>
        </div>
        <div class="col s12" id="table">
          <div id="detail">
            <table class="highlight centered">
              <thead>
                <tr>
                  <th>Price</th>
                  <th>New CPU</th>
                  <th>Parts to Buy</th>
                  <th>System Benefit</th>
                  <th>
                    <table class="lead">
                      <thead></thead>
                      <tbody>
                        <tr>
                          <td>Game Type</td>
                          <td>FPS Gain</td>
                          <td>$/FPS</td>
                        </tr>
                      </tbody>
                    </table>
                  </th>
                </tr>
              </thead>

              <tbody id="scs-cpu-table">
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
      <!-- Output type for new platform. This recommends multiple components. -->
      <div class="row first-selection-section">
        <div class="col s12" id="table">
            <h5 class="teal-text">New Platforms</h5>
            <h6>These are the latest platforms and processors available. They usually require a new motherboard and memory, which is included in the price calculations.</h6>
        </div>
        <div class="col s12" id="table">
          <div id="detail">
            <table class="highlight centered">
              <thead>
                <tr>
                  <th>Price</th>
                  <th>New CPU</th>
                  <th>Parts to Buy</th>
                  <th>System Benefit</th>
                  <th>
                    <table class="lead">
                      <thead></thead>
                      <tbody>
                        <tr>
                          <td>Game Type</td>
                          <td>FPS Gain</td>
                          <td>$/FPS</td>
                        </tr>
                      </tbody>
                    </table>
                  </th>
                </tr>
              </thead>

              <tbody id="np-cpu-table">
                
              </tbody>
            </table>
          </div>
        </div>
      </div>

      

      <!-- For New Platform, after selecting a CPU. -->
      <div class="row teal mobo-selection-section">
        <div class="col s3 m2">
          <i class="large material-icons icon-white prefix">arrow_downward</i>
        </div>
        <div class="col s9">
          <h5 class="white-text">Next, choose a motherboard</h5>
          <h6 class="teal-text text-lighten-3">Sort by price + formfactor<i class="tiny material-icons icon-white">details</i></h6>
        </div>
        <div class="col s12 teal darken-2">
          <h6 class="teal-text text-lighten-3">Prices are based on Amazon data. Best prices include best priced motherboards and memory.</h6>
        </div>
      </div>
      <div class="row mobo-selection-section">
        <div class="col s12" id="table">
            <h5 class="teal-text">Cheapest Compatible Motherboard</h5>
            <h6>This class of motherboard offers essential features for gamers at the lowest prices.</h6>
        </div>
        <div class="col s12" id="table">
          <div id="detail">
            <table class="highlight centered">
              <thead>
                <tr>
                  <th>Price</th>
                  <th>Name</th>
                  <th>Form Factor</th>
                  <th>Memory Slots</th>
<!--                   <th>Fastest Memory (MHz)</th> -->
                </tr>
              </thead>

              <tbody id="recommended-mobo-table"></tbody>
              
            </table>
          </div>
        </div>
      </div>
      
      <div class="row teal memory-selection-section">
        <div class="col s3 m2">
          <i class="large material-icons icon-white prefix">arrow_downward</i>
        </div>
        <div class="col s9">
          <h5 class="white-text">Next, choose your memory</h5>
          <h6 class="teal-text text-lighten-3">Sorted by price + capacity<i class="tiny material-icons icon-white">details</i></h6>
        </div>
        <div class="col s12 teal darken-2">
          <h6 class="teal-text text-lighten-3">Prices are based on Amazon data. Best prices include best priced motherboards and memory.</h6>
        </div>
      </div>
      
      <!-- Cheapest 4GB of RAM -->
      <div class="row memory-selection-section">
        <div class="col s12" id="table">
            <h5 class="teal-text">Best Priced 4 GB</h5>
            <h6>4 GB of RAM will get you into most PC games. While some games will run better with more, this is still the baseline for PC gaming in 2017.</h6>
        </div>
        <div class="col s12" id="table">
          <div id="detail">
            <table class="highlight centered">
              <thead>
              </thead>

              <tbody id="recommended-memory-table-4g"></tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Cheapest 8 GB -->
      <div class="row memory-selection-section">
        <div class="col s12" id="table">
            <h5 class="teal-text">Best Priced 8 GB</h5>
            <h6>The best price available for 8 GB of memory for your board.</h6>
        </div>
        <div class="col s12" id="table">
          <div id="detail">
            <table class="highlight centered">
              <thead>
              </thead>

              <tbody id="recommended-memory-table-8g"></tbody>
            </table>
          </div>
        </div>
      </div>


    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/recommendations/js/materialize.min.js"></script>
    <script src="/static/recommendations/js/init.js"></script>
    
    <script type="text/javascript">
    	$(function(){
    		
    		$('#loading-spinner').hide();
    		
    		function emptyAndHideSelection(cpuSelection, moboSelection, memSelection){
    			cpuSelection = cpuSelection || false;
    			moboSelection = moboSelection || false;
    			memSelection = memSelection || false;
    			
    			if (cpuSelection) {
        			$('.your-selected-processor').hide();
        			$('#your-selected-processor-display').empty();
    			}
    			if (moboSelection) {
            		$('.your-selected-motherboard').hide();
    	    		$('#your-selected-motherboard-display').empty();
    			}
	    		if (memSelection) {
    	    		$('.your-selected-memory').hide();
    	    		$('#your-selected-memory-display').empty();
	    		}
    		}
    		
    		function hideAllOptionSections() {
    			$('.first-selection-section').hide();
        		$('.mobo-selection-section').hide();
        		$('.third-selection-section').hide();
        		$('.memory-selection-section').hide();
    		}
    		
    		function emptyMoboOptions(){
    			$('#recommended-mobo-table').empty();
    		}
    		
    		function emptyMemoryOptions(){
    			$('#recommended-memory-table-4g').empty();
	    		$('#recommended-memory-table-8g').empty();
    		}
    		
    		function resetUI(){
    			hideAllOptionSections();
    			emptyMoboOptions();
    			emptyMemoryOptions();
    			
        		$('#current-cpu-card').hide();
        		
        		$('#current-cpu-title').text('');
	    		$('#current-cpu-tierinfo').text('');
	    		
	    		$('#scs-cpu-table').empty();
	    		$('#np-cpu-table').empty();
	    		$('#input-cpu-fps-table').empty();
	    		
	    		emptyAndHideSelection(true,true,true);
    		}
    		
    		$('#cancel-cpu-selection').click(function(){
        		// empty out all selected parts and show the cpu options
        		emptyAndHideSelection(true,true,true);
        		hideAllOptionSections();
        		emptyMoboOptions();
    			emptyMemoryOptions();
        		$('.first-selection-section').slideDown();
        	});
        	
        	$('#cancel-mobo-selection').click(function(){
        		// empty out all selected parts and show the cpu options
        		emptyAndHideSelection(false,true,true);
        		hideAllOptionSections();
    			emptyMemoryOptions();
    			$('.mobo-selection-section').slideDown();
        	});
        	
        	$('#cancel-memory-selection').click(function(){
        		// empty out all selected parts and show the cpu options
        		emptyAndHideSelection(false,false,true);
        		hideAllOptionSections();
    			$('.memory-selection-section').slideDown();
        	});
    		
    		resetUI();
    		
    		function constructMoboHtml(moboComp){
    			var itemHtml = '<tr class="select-mobo" data-compid="' + moboComp.id + '">';
    			itemHtml += '<td><ul><li class="green-text">' + moboComp.formattedprice + '</li><li><a href="' + moboComp.buyurl + '">Amazon</a></li></ul></td>';
    			itemHtml += '<td>' + moboComp.display_name + '</td>';
    			itemHtml += '<td>' + moboComp.form_factor + '</td>';
    			itemHtml += '<td>' + moboComp.dimms + '</td></tr>';
    			//itemHtml += '<td>' + moboComp.memory_frequency + '</td>';
    			return itemHtml;
        	}
    		
    		function constructFpsGainsTableHtml(fpsGains) {
    			var html = '<table class="bordered embed"><thead></thead>';
    			for (bType in fpsGains) {
    				var fpsData = fpsGains[bType];
    				html += '<tr><td>' + bType + '</td><td>+' + fpsData.gains + '</td><td>$' + fpsData.dollarfps + '</td></tr>';
    			}
    			html += '</table>';
    			return html;
    		}
    		
        	function constructItemHtml(cpuComp, selectionType, componentsToPurchaseStr, fpsGains, price){
        		price = price || cpuComp.formattedprice;
    			var itemHtml = '<tr class="select-cpu" data-compid="' + cpuComp.id + '" data-selectiontype="'+selectionType+'">';
    			itemHtml += '<td><ul><li class="green-text">' + price + '</li><li><a href="' + cpuComp.buyurl + '">Amazon</a></li></ul></td>';
    			itemHtml += '<td>' + cpuComp.display_name + '</td>';
    			itemHtml += '<td>' + componentsToPurchaseStr + '</td>';
    			itemHtml += '<td>' + cpuComp.tier_explain + '</td>';
    			itemHtml += '<td>' + constructFpsGainsTableHtml(fpsGains) + '</td></tr>';
    			return itemHtml;
        	}
        	
        	function constructMemoryHtml(memComp){
        		
        		var itemHtml = '<tr class="select-memory" data-compid="' + memComp.id + '">';
    			itemHtml += '<td><ul><li class="green-text">' + memComp.formattedprice + '</li><li><a href="' + memComp.buyurl + '">Amazon</a></li></ul></td>';
    			itemHtml += '<td>' + memComp.display_name + '</td>';
    			itemHtml += '<td>' + memComp.memory_spec + '</td>';
    			itemHtml += '<td>' + memComp.memory_capacity + ' GB</td>';
    			itemHtml += '<td>' + memComp.dimms + ' DIMMs</td>';
    			itemHtml += '<td>' + memComp.memory_frequency + ' MHz</td></tr>';
    			return itemHtml;
        	}
        	
			function constructFpsDataHtml(fpsdp){
        		
        		var itemHtml = '<tr>';
    			itemHtml += '<td>' + fpsdp.benchmark_type + '</td>';
    			itemHtml += '<td>' + fpsdp.benchmark_name + '</td>';
    			itemHtml += '<td>' + fpsdp.fps_average + '</td>';
    			itemHtml += '<td>' + fpsdp.fps_one + '</td>';
    			if (fpsdp.source_url) {
    				itemHtml += '<td><a href="' + fpsdp.source_url + '">' + fpsdp.source_description + '</a></td>';
    			} else {
    				itemHtml += '<td>' + fpsdp.source_description + '</td>';
    			}
    			itemHtml += '</tr>';
    			return itemHtml;
        	}
			
        	function constructItemBuyHtml(comp){
        		
        		var itemHtml = '<div class="row">';
    			itemHtml += '<div class="col l2"><ul><li class="green-text">' + comp.formattedprice + '</li><li><a href="' + comp.buyurl + '">Amazon</a></li></ul></div>';
    			itemHtml += '<div class="col l7">' + comp.display_name + '</div>';
    			itemHtml += '<div class="col l3"><a target="_blank" href="' + comp.buyurl + '" class="waves-effect waves-light btn">BUY on Amazon</a></td></div>';
    			itemHtml += '</div>';
    			return itemHtml;
        	}
    		
        	var selectedComponents = {};
        	
    		$.getJSON( "getparts", {'target' : 'cpu'}).success(function(data) {
    			
    			var partsList = JSON.parse(data.parts);
    			var acdata = {};
    			var namesToIds = {};
            	for (part in partsList) {
            		var component = partsList[part];
            		acdata[component.display_name] = null;
            		namesToIds[component.display_name] = component.id;
            	}
    			
            	console.log(acdata);
            	
            	
    			$('#base_cpu').autocomplete({
        		    data: acdata,
        		    limit: 8,
        		    onAutocomplete: function(val) {
        		    	
        		    	resetUI();
        		    	$('#loading-spinner').show();
        		    	
        		    	//
        		    	// fetch the recommendations data for this part
        		    	var compid = namesToIds[val];
        		    	$.getJSON('/recommendcpu/json', {'id' : compid}).success(function(resp){
        		    		
        		    		$('#loading-spinner').hide();
        		    		
        		    		$('#current-cpu-title').text(resp.input_cpu.display_name);
        		    		$('#current-cpu-tierinfo').text(resp.input_cpu.tier_explain);
        		    		$('#current-cpu-card').show();
        		    		$('.first-selection-section').show();
        		    		
        		    		var cpuRecsHtml = {'scs-cpu-table':{}, 'np-cpu-table': {}};
        		    		for (var perfTier in resp.scsbytier) {
        		    			cpuRecsHtml['scs-cpu-table'][resp.scsbytier[perfTier].id] = resp.scsbytier[perfTier];
        		    		}
        		    		if (resp.scsbv) cpuRecsHtml['scs-cpu-table'][resp.scsbv.id] = resp.scsbv;
        		    		if (resp.scstop) cpuRecsHtml['scs-cpu-table'][resp.scstop.id] = resp.scstop;
        		    		
        		    		for (var perfTier in resp.npbytier) {
        		    			cpuRecsHtml['np-cpu-table'][resp.npbytier[perfTier].id] = resp.npbytier[perfTier]
        		    		}
        		    		if (resp.npbv) cpuRecsHtml['np-cpu-table'][resp.npbv.id] = resp.npbv;
        		    		if (resp.nptop) cpuRecsHtml['np-cpu-table'][resp.nptop.id] = resp.nptop;
        		    		
        		    		console.log(cpuRecsHtml);
        		    		var compIdsToRecs = {};
        		    		// render table
        		    		for (cpuTableId in cpuRecsHtml) {
        		    			var itemHtmls = Object.values(cpuRecsHtml[cpuTableId]);
        		    			itemHtmls.sort(function(a, b) {
        		    				if (a.platform_price) return a.platform_price - b.platform_price;
        		    				else return a.price.price - b.price.price;
        		    			});
        		    			for (var i=0;i<itemHtmls.length;i++) {
        		    				// ensures that a component is only rendered once
        		    				var comp = itemHtmls[i];
        		    				console.log('formatted price: ' + comp.formattedplatformprice);
        		    				if (cpuTableId === 'np-cpu-table') $('#' + cpuTableId).append(
        		    						constructItemHtml(comp, 'NP', 'CPU, Motherboard, Memory', resp.fpsgains.recs[comp.id], comp.formattedplatformprice));
        		    				else $('#' + cpuTableId).append(constructItemHtml(comp, 'SCS', 'CPU', resp.fpsgains.recs[comp.id]));
        		    				compIdsToRecs[comp.id] = comp;
        		    			}
        		    		}
        		    		
        		    		///
        		    		/// populate input cpu table
        		    		for (var i=0;i<resp.fpsgains.input.length;i++) {
        		    			$('#input-cpu-fps-table').append(constructFpsDataHtml(resp.fpsgains.input[i]));
        		    		}
        		    		
        		    		$('.select-cpu').click(function(){
        	    				// cpu selected
        	    				
        	    				var selectionType = $(this).data('selectiontype');
        	    				
        	    				var selectionId = $(this).data('compid');
        	    				
        	    				var selectedCpu = compIdsToRecs[selectionId];
        	    				selectedComponents.cpu = selectedCpu;
        	    				
        	    				$('.first-selection-section').slideUp();
        	    				$('.your-selected-processor').show();
        	    				$('#your-selected-processor-display').append(constructItemBuyHtml(selectedCpu));
        	    				
        	    				if (selectionType == 'SCS') {
        	    					// show buy option
        	    					
        	    				} else {
        	    					
        	    					// populate recommended motherboard
        	    					
        	    					var moboComp = selectedCpu.recommendedmobo;
        	    					compIdsToRecs[moboComp.id] = moboComp;
        	    					$('#recommended-mobo-table').append(constructMoboHtml(moboComp));
        	    					
        	    					// show mobo selection
        	    					$('.mobo-selection-section').show();
        	    					
        	    					//
        	    					// TODO TODO bind what happens when a mobo is selected
        	    					$('.select-mobo').click(function(){
        	    						var selectedMoboId = $(this).data('compid');
        	    						selectedComponents.mobo = compIdsToRecs[selectedMoboId];
        	    						$('.your-selected-motherboard').show(this);
        	    						$('#your-selected-motherboard-display').append(constructItemBuyHtml(compIdsToRecs[selectedMoboId]));
        	    						
        	    						// populate memory options
        	    						$('#recommended-memory-table-4g').append(constructMemoryHtml(selectedCpu.recommendedmemory4gb));
        	    						$('#recommended-memory-table-8g').append(constructMemoryHtml(selectedCpu.recommendedmemory8gb));
        	    						compIdsToRecs[selectedCpu.recommendedmemory4gb.id] = selectedCpu.recommendedmemory4gb; 
        	    						compIdsToRecs[selectedCpu.recommendedmemory8gb.id] = selectedCpu.recommendedmemory8gb; 
        	    						
        	    						
        	    						// show memory section
        	    						$('.memory-selection-section').show();
        	    						$('.mobo-selection-section').slideUp();
        	    						
        	    						$('.select-memory').click(function(){
        	    							var selectedMemId = $(this).data('compid');
        	    							//
        	    							$('.your-selected-memory').show();
        	    							$('#your-selected-memory-display').append(constructItemBuyHtml(compIdsToRecs[selectedMemId]));
        	    							$('.memory-selection-section').slideUp();
        	    							
        	    						});
        	    						
        	    					});
        	    				}
        	    				
        	    				
        	    			});
        		    		
        		    	});
        		    },
        		    minLength: 2, 
      		  	});
    			
    			
    		});
    		
    	});
    </script>
    
    
  </body>
</html>
      
