{% extends "base.html" %}

{% block styling %}
  {{ super() }}
  <style type="text/css">
      #showcase-icon {
      	width: 200px;
      	margin-top: 50px;
      }
      #showcase-build-message {
        font-size: 40px;
      	font-weight: bold;
      	color: white;
      	transform:scale(1,1.5); /* W3C */
		-webkit-transform:scale(1,1.5); /* Safari and Chrome */
		-moz-transform:scale(1,1.5); /* Firefox */
		-ms-transform:scale(1,1.5); /* IE 9 */
		-o-transform:scale(1,1.5);
		margin-bottom: 0px;
      }
      .build-message-line-left {
      	height: 30px;
      	width: 4px;
      	position: relative;
      	bottom: 3px;
      	right: 335px;
      }
      .build-message-line-right {
      	height: 30px;
      	width: 4px;
      	position: relative;
      	bottom: 3px;
      	left: 335px;
      }
      #showcase-build-message-small {
      	color:white;
      	font-weight:lighter;
      	font-size: 18px;
      	margin-bottom: 100px;
      }
      #select-rig-message {
      	font-weight:lighter;
      	font-size:24px;
      	text-align:center;
      }
      .rig-box {
        position: relative;
      	text-align: center;
      	display: inline-block;
      	margin-right: 5px;
      	margin-left: 5px;
      	margin-bottom: 12px;
        cursor: pointer;
      }
      .rig-box-purple {
      	color: #A98FEB;
      }
      .rig-box-orange {
      	color: #ECCE60;
      }
      .rig-box-black {
        color: gray;
      }
      .rig-box-blue {
      	color: #60BBEC;
      }
      .rig-box-green {
        color: #1ed311;
      }
      .rig-box-white {
      	color: #D0D3D4;
      }
      .rig-box-gray {
      	color: gray;
      }
      .rig-box-new {
      	color: gray;
      }
      #rig-box-container {
        text-align: center;
      }
      .showcase-tier-image {
      	width: 300px;
      	height: 300px;
      }
      .perf-text {
      	position: absolute;
      	top: 18px;
      	left: 0px;
      	right: 0px;
      }
      .rig-name-text{
      	position: absolute;
      	top: 245px;
      	left: 0px;
      	right: 0px;
      	font-size: 24px;
      	font-weight: 100;
      }
      .build-link {
      	color: #60BBEC;
      }
      .showcase-banner {
      	background: url("/static/images/showcase-bg.jpg");
      	background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        
      }
      .navbar {
      	margin-bottom: 0px;
      }
      .showcase-bottom {
      	height: 250px;
      }
      .rig-link:hover {
      	color: transparent;
      }
      .delete-rig-btn{
        position: absolute;
        top: 18px;
        left: 234px;
        color: #7374a0;
        background-color: #232282;
        border: none;
      }
      .delete-rig-btn:hover{
        color: #8c0707;
        background-color: #060b25;
      }
  </style>
{% endblock %}

{% block content %}

<div class="row showcase-banner">
    <div style="text-align:center;">
        <p>
            <img id="showcase-icon" src="/static/images/showcase-icon.png">
        </p>
        <p id="showcase-build-message">
            <img class="build-message-line-left" src="/static/images/showcase-vertical-line.jpg">
            <a class="build-link" href="/preset">BUILD</a> YOUR GAMING CUBE
            <img class="build-message-line-right" src="/static/images/showcase-vertical-line.jpg">
            </p>
        <p id="showcase-build-message-small">Start with our gaming rig presets.</p>
    </div>
</div>
<div class="row">
    <p id="select-rig-message">Select a rig below, or create a new cube.</p>
    <div id="rig-box-container">
        {% for rig in rigs %}
        <div data-href="/bench?rig={{rig.id}}" class="rig-box rig-box-{{ rig.perf_color }}">
            <img class="showcase-tier-image" src="/static/images/showcase-tiers-{{ rig.perf_color }}.jpg">
            <span class="perf-text" >{% if rig.max_performance %}{{rig.max_performance}}{% endif %}</span>
            <span class="rig-name-text">{% if rig.name %}{{rig.name}}{% endif %}</span>
            <button data-cube-id="{{rig.id}}" data-cube-name="{% if rig.name %}{{rig.name}}{% endif %}" class="delete-rig-btn" hidden="hidden">Delete</button>
        </div>
        
        {% endfor %}
        <a href="/preset">
	        <div class="rig-box rig-box-new">
	            <img class="showcase-tier-image" src="/static/images/showcase-tiers-add.jpg">
	            <span class="perf-text" >Create a New Cube</span>
	        </div>
        </a>
    </div>
</div>
<div class="row showcase-bottom">
</div>



  <!-- --------------- -->
  <!-- --------------- -->
  <!-- CONFIRM DELETE MODAL -->
  <!-- --------------- -->
  <div class="modal fade" tabindex="-1" role="dialog" id="confirm-delete-modal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Confirm Delete</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete <strong id="confirm-delete-cube-name"></strong>?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="ac-btn" id="yes-delete-cube-btn">Yes</button>
          &nbsp;&nbsp;
          <button type="button" class="ac-btn" data-dismiss="modal">Cancel</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

{% endblock %}

{% block javascript %}

<script type="text/javascript">
	$(function(){
		
		$('.rig-box').click(function(){
			window.location = $(this).data('href');
		})
		
		$('.delete-rig-btn').click(function(e){
			e.stopPropagation();
			$('#confirm-delete-cube-name').empty().append($(this).data('cube-name'));
			$('#confirm-delete-modal').modal('show');
			$('#yes-delete-cube-btn').data('cube-id', $(this).data('cube-id'));
		})
		
		$('#yes-delete-cube-btn').click(function(){
			// delete the cube
			var id = $(this).data('cube-id');
			
			$.post('/deletecube', {cube_id:id}, function(){
				location.reload();
			})
			
		})
		
		$('.rig-box').hover(function(){
			$(this).find('.delete-rig-btn').show();
		}, function(){
			$(this).find('.delete-rig-btn').hide();
		});
		
	});
</script>

{% endblock %}