{% extends "base.html" %}

{% block styling %}
  {{ super() }}
  <style type="text/css">
      #showcase-icon {
      	width: 200px;
      	margin-top: 50px;
      }
      #showcase-build-message {
        font-size: 40px;
      	font-weight: bold;
      	color: white;
      	transform:scale(1,1.5); /* W3C */
		-webkit-transform:scale(1,1.5); /* Safari and Chrome */
		-moz-transform:scale(1,1.5); /* Firefox */
		-ms-transform:scale(1,1.5); /* IE 9 */
		-o-transform:scale(1,1.5);
		margin-bottom: 0px;
      }
      .build-message-line-left {
      	height: 30px;
      	width: 4px;
      	position: relative;
      	bottom: 3px;
      	right: 335px;
      }
      .build-message-line-right {
      	height: 30px;
      	width: 4px;
      	position: relative;
      	bottom: 3px;
      	left: 335px;
      }
      #showcase-build-message-small {
      	color:white;
      	font-weight:lighter;
      	font-size: 18px;
      	margin-bottom: 100px;
      }
      #select-rig-message {
      	font-weight:lighter;
      	font-size:24px;
      	text-align:center;
      }
      .rig-box {
        position: relative;
      	text-align: center;
      	display: inline-block;
      	margin-right: 5px;
      	margin-left: 5px;
      	margin-bottom: 12px;
        cursor: pointer;
      }
      .rig-box-purple {
      	color: #fe4aea;
      }
      .rig-box-orange {
      	color: #e6d55e;
      }
      .rig-box-black {
        color: gray;
      }
      .rig-box-blue {
      	color: #60BBEC;
      }
      .rig-box-green {
        color: #1ed311;
      }
      .rig-box-white {
      	color: #D0D3D4;
      }
      .rig-box-gray {
      	color: gray;
      }
      .rig-box-new {
      	color: gray;
      }
      #rig-box-container {
        
      }
      .showcase-tier-image {
      	width: 200px;
      }
      .perf-text {
      	position: absolute;
        font-size: 11px;
      	top: 10px;
      	left: 0px;
      	right: 0px;
      }
      .rig-name-text{
      	position: absolute;
      	top: 152px;
      	left: 0px;
      	right: 0px;
      	font-size: 17px;
      	font-weight: 100;
      }
      .delete-rig-btn{
        position: absolute;
        top: 6px;
        left: 151px;
        color: #7374a0;
        background-color: #232282;
        border: none;
        font-size: 10px;
      }
      .delete-rig-btn:hover{
        color: #8c0707;
        background-color: #060b25;
      }
      .owned-showcase-tier-image {
        
      }
      .owned-subtitle{
        display: block;
        color: #eeeeee;
      }
      .owned-component-title{
        font-size: 20px;
        padding-bottom: 22px;
        display: block;
      }
      .owned-perf-text {
        position: absolute;
        font-size: 16px;
        top: 17px;
        left: 0px;
        right: 0px;
      }
      .owned-rig-name-text{
        position: absolute;
        top: 250px;
        left: 0px;
        right: 0px;
        font-size: 27px;
        font-weight: 100;
      }
      .owned-delete-rig-btn{
        position: absolute;
        top: 9px;
        left: 264px;
        color: #7374a0;
        background-color: #232282;
        border: none;
        font-size: 14px;
      }
      .owned-delete-rig-btn:hover{
        color: #8c0707;
        background-color: #060b25;
      }
      .build-link {
      	color: #60BBEC;
      }
      .showcase-banner {
      	background: url("/static/images/showcase-bg.jpg");
      	background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        
      }
      .navbar {
      	margin-bottom: 0px;
      }
      .showcase-bottom {
      	height: 250px;
      }
      .rig-link:hover {
      	color: transparent;
      }
      
  </style>
{% endblock %}

{% block content %}

<br>
<div class="clearfix"></div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 id="page-title-header">My Showcase</h1>
    </div>
  </div>
</div>
<div style="width:100%; border-bottom:1px solid #333;"></div>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <span class="wizard-sub-heading">Owned Rigs ({{owned_rigs|length}})</span>
      <hr>
      {% if owned_rigs|length == 0 %}
      <h3>You don't own any rigs. <a href="/bench">Add your rig.</a></h3>
      <br><br>
      {% else %}
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          {% for owned_rig in owned_rigs %}
          <li data-target="#carousel-example-generic" data-slide-to="{{loop.index}}" {%if loop.index == 1 %}class="active"{% endif %}></li>
          {% endfor %}
        </ol>
      
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          {% for rig in owned_rigs %}
          <div class="item {%if loop.index == 1 %}active{% endif %}">
            <br><br><br>
            <div class="container">
              <div class="row">
                <div class="col-md-4 col-md-offset-1">
                  <div data-href="/bench?rig={{rig.id}}" class="rig-box rig-box-{{ rig.perf_color }}">
                    <img class="owned-showcase-tier-image" src="/static/images/showcase-tiers-{{ rig.perf_color }}.jpg">
                    <span class="owned-perf-text" >{% if rig.max_performance %}{{rig.max_performance}}{% endif %}</span>
                    <span class="owned-rig-name-text">{% if rig.name %}{{rig.name}}{% endif %}</span>
                    <button data-cube-id="{{rig.id}}" data-cube-name="{% if rig.name %}{{rig.name}}{% endif %}" class="owned-delete-rig-btn">Delete</button>
                  </div>
                  
                  
                  <br><br><br><br>
                </div>
                <div class="col-md-5">
                  <span class="owned-subtitle">Processor</span>
                  <span class="owned-component-title rig-box-{{ rig.cpu_component.get_performance_color() }}">{{ rig.cpu_component.adjusted_display_name() }}</span>
                  <span class="owned-subtitle">Graphics</span>
                  <span class="owned-component-title rig-box-{{ rig.gpu_component.get_performance_color() }}">{{ rig.gpu_component.adjusted_display_name() }}</span>
                  <span class="owned-subtitle">Memory</span>
                  <span class="owned-component-title rig-box-{{ rig.memory_component.get_performance_color() }}">{{ rig.memory_component.adjusted_display_name() }}</span>
                  <span class="owned-subtitle">Display</span>
                  <span class="owned-component-title rig-box-{{ rig.display_component.get_performance_color() }}">{{ rig.display_component.adjusted_display_name() }}</span>
                </div>
              </div>
            </div>
            
            <div class="clearfix"></div>
            
            <div class="carousel-caption">
              
            </div>
            
          </div>
          {% endfor %}
        </div>
      
        <!-- Controls -->
        <a href="#carousel-example-generic" class="left carousel-control" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br><br>
      <span class="wizard-sub-heading">Experimental Rigs ({{exp_rigs|length}})</span>
      <hr>
  
      <div id="rig-box-container">
          {% for rig in exp_rigs %}
          <div data-href="/bench?rig={{rig.id}}" class="rig-box rig-box-{{ rig.perf_color }}">
              <img class="showcase-tier-image" src="/static/images/showcase-tiers-{{ rig.perf_color }}.jpg">
              <span class="perf-text" >{% if rig.max_performance %}{{rig.max_performance}}{% endif %}</span>
              <span class="rig-name-text">{% if rig.name %}{{rig.name}}{% endif %}</span>
              <button data-cube-id="{{rig.id}}" data-cube-name="{% if rig.name %}{{rig.name}}{% endif %}" class="delete-rig-btn" hidden="hidden">Delete</button>
          </div>
          
          {% endfor %}
          <a href="/bench">
  	        <div class="rig-box rig-box-new">
  	            <img class="showcase-tier-image" src="/static/images/showcase-tiers-add.jpg">
  	            <span class="perf-text" >Create a New Cube</span>
  	        </div>
          </a>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <br><br><br>
        <span class="wizard-sub-heading">All Owned Parts ({{all_parts|length}})</span>
        <hr>
        {% if owned_cpu|length > 0 %}
        <h5>Processors</h5>
          {% for part in owned_cpu %}
          <div class="owned-parts-list-item-container">
            <span class="owned-parts-list-item-title fg-{{part.component.get_performance_color()}} clickable"
                  data-color="{{part.component.get_performance_color()}}"
                  data-part-id="{{part.id}}"
                  data-equipped-str="{% if part.rig %}equipped on {{part.rig.name}}{% else %}not currently equipped{% endif %}">{{part.component.adjusted_display_name()}}</span>
            ({% if part.rig %}
            <b>Equipped: <a href="bench?rig={{part.rig.id}}" class="fg-{{part.rig.get_max_performance_color()}}">{{part.rig.name}}</a></b>
            {% else %}
            <b>Not Equipped.</b>
            {% endif %})
          </div>
          {% endfor %}
        
        {% endif %}
        
        {% if owned_gpu|length > 0 %}
        <h5>Graphics</h5>
          {% for part in owned_gpu %}
          <div class="owned-parts-list-item-container">
            <span class="owned-parts-list-item-title fg-{{part.component.get_performance_color()}} clickable"
                  data-color="{{part.component.get_performance_color()}}"
                  data-part-id="{{part.id}}"
                  data-equipped-str="{% if part.rig %}equipped on {{part.rig.name}}{% else %}not currently equipped{% endif %}">{{part.component.adjusted_display_name()}}</span>
            ({% if part.rig %}
            <b>Equipped: <a href="bench?rig={{part.rig.id}}" class="fg-{{part.rig.get_max_performance_color()}}">{{part.rig.name}}</a></b>
            {% else %}
            <b>Not Equipped.</b>
            {% endif %})
          </div>
          {% endfor %}
        
        {% endif %}
        
        {% if owned_memory|length > 0 %}
        <h5>Memory</h5>
          {% for part in owned_memory %}
          <div class="owned-parts-list-item-container">
            <span class="owned-parts-list-item-title fg-{{part.component.get_performance_color()}} clickable"
                  data-color="{{part.component.get_performance_color()}}"
                  data-part-id="{{part.id}}"
                  data-equipped-str="{% if part.rig %}equipped on {{part.rig.name}}{% else %}not currently equipped{% endif %}">{{part.component.adjusted_display_name()}}</span>
            ({% if part.rig %}
            <b>Equipped: <a href="bench?rig={{part.rig.id}}" class="fg-{{part.rig.get_max_performance_color()}}">{{part.rig.name}}</a></b>
            {% else %}
            <b>Not Equipped.</b>
            {% endif %})
          </div>
          {% endfor %}
        
        {% endif %}
        
        {% if owned_display|length > 0 %}
        <h5>Displays</h5>
          {% for part in owned_display %}
          <div class="owned-parts-list-item-container">
            <span class="owned-parts-list-item-title fg-{{part.component.get_performance_color()}} clickable"
                  data-color="{{part.component.get_performance_color()}}"
                  data-part-id="{{part.id}}"
                  data-equipped-str="{% if part.rig %}equipped on {{part.rig.name}}{% else %}not currently equipped{% endif %}">{{part.component.adjusted_display_name()}}</span>
            ({% if part.rig %}
            <b>Equipped: <a href="bench?rig={{part.rig.id}}" class="fg-{{part.rig.get_max_performance_color()}}">{{part.rig.name}}</a></b>
            {% else %}
            <b>Not Equipped.</b>
            {% endif %})
          </div>
          {% endfor %}
        
        {% endif %}
        
        {% if owned_motherboard|length > 0 %}
        <h5>Motherboards</h5>
          {% for part in owned_motherboard %}
          <div class="owned-parts-list-item-container">
            <span class="owned-parts-list-item-title fg-{{part.component.get_performance_color()}} clickable"
                  data-color="{{part.component.get_performance_color()}}"
                  data-part-id="{{part.id}}"
                  data-equipped-str="{% if part.rig %}equipped on {{part.rig.name}}{% else %}not currently equipped{% endif %}">{{part.component.adjusted_display_name()}}</span>
            ({% if part.rig %}
            <b>Equipped: <a href="bench?rig={{part.rig.id}}" class="fg-{{part.rig.get_max_performance_color()}}">{{part.rig.name}}</a></b>
            {% else %}
            <b>Not Equipped.</b>
            {% endif %})
          </div>
          {% endfor %}
        
        {% endif %}
        
        {% if owned_storage|length > 0 %}
        <h5>Storage</h5>
          {% for part in owned_storage %}
          <div class="owned-parts-list-item-container">
            <span class="owned-parts-list-item-title fg-{{part.component.get_performance_color()}} clickable"
                  data-color="{{part.component.get_performance_color()}}"
                  data-part-id="{{part.id}}"
                  data-equipped-str="{% if part.rig %}equipped on {{part.rig.name}}{% else %}not currently equipped{% endif %}">{{part.component.adjusted_display_name()}}</span>
            ({% if part.rig %}
            <b>Equipped: <a href="bench?rig={{part.rig.id}}" class="fg-{{part.rig.get_max_performance_color()}}">{{part.rig.name}}</a></b>
            {% else %}
            <b>Not Equipped.</b>
            {% endif %})
          </div>
          {% endfor %}
        
        {% endif %}
        
        {% if owned_power|length > 0 %}
        <h5>Power Supplies</h5>
          {% for part in owned_power %}
          <div class="owned-parts-list-item-container">
            <span class="owned-parts-list-item-title fg-{{part.component.get_performance_color()}} clickable"
                  data-color="{{part.component.get_performance_color()}}"
                  data-part-id="{{part.id}}"
                  data-equipped-str="{% if part.rig %}equipped on {{part.rig.name}}{% else %}not currently equipped{% endif %}">{{part.component.adjusted_display_name()}}</span>
            ({% if part.rig %}
            <b>Equipped: <a href="bench?rig={{part.rig.id}}" class="fg-{{part.rig.get_max_performance_color()}}">{{part.rig.name}}</a></b>
            {% else %}
            <b>Not Equipped.</b>
            {% endif %})
          </div>
          {% endfor %}
        
        {% endif %}
        
        {% if owned_chassis|length > 0 %}
        <h5>Chassis</h5>
          {% for part in owned_chassis %}
          <div class="owned-parts-list-item-container">
            <span class="owned-parts-list-item-title fg-{{part.component.get_performance_color()}} clickable"
                  data-color="{{part.component.get_performance_color()}}"
                  data-part-id="{{part.id}}"
                  data-equipped-str="{% if part.rig %}equipped on {{part.rig.name}}{% else %}not currently equipped{% endif %}">{{part.component.adjusted_display_name()}}</span>
            ({% if part.rig %}
            <b>Equipped: <a href="bench?rig={{part.rig.id}}" class="fg-{{part.rig.get_max_performance_color()}}">{{part.rig.name}}</a></b>
            {% else %}
            <b>Not Equipped.</b>
            {% endif %})
          </div>
          {% endfor %}
        
        {% endif %}
        
        {# REMOVE FOR NOW
        {% for part in all_parts %}
          <div class="owned-parts-list-item-container">
            <span class="owned-parts-list-item-header">{{part.component.get_type_str()}}</span><br>
            <span class="owned-parts-list-item-title fg-{{part.component.get_performance_color()}} clickable"
                  data-color="{{part.component.get_performance_color()}}"
                  data-part-id="{{part.id}}"
                  data-equipped-str="{% if part.rig %}equipped on {{part.rig.name}}{% else %}not currently equipped{% endif %}">{{part.component.adjusted_display_name()}}</span>
            ({% if part.rig %}
            <b>Equipped: <a href="bench?rig={{part.rig.id}}" class="fg-{{part.rig.get_max_performance_color()}}">{{part.rig.name}}</a></b>
            {% else %}
            <b>Not Equipped.</b>
            {% endif %})
          </div>
        {% endfor %}
        #}
        
      </div>
    </div>
  </div>
<div class="row showcase-bottom">
</div>



  <!-- --------------- -->
  <!-- --------------- -->
  <!-- CONFIRM DELETE MODAL -->
  <!-- --------------- -->
  <div class="modal fade" tabindex="-1" role="dialog" id="confirm-delete-modal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Confirm Delete</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete <strong id="confirm-delete-cube-name"></strong>?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="ac-btn" id="yes-delete-cube-btn">Yes</button>
          &nbsp;&nbsp;
          <button type="button" class="ac-btn" data-dismiss="modal">Cancel</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

{% endblock %}

{% block javascript %}

<script type="text/javascript">
	$(function(){
		
		$('.rig-box').click(function(){
			window.location = $(this).data('href');
		})
		
		$('.delete-rig-btn').hide();
		$('.owned-delete-rig-btn').hide();
		
		$('.delete-rig-btn').click(function(e){
			e.stopPropagation();
			$('#confirm-delete-cube-name').empty().append($(this).data('cube-name'));
			$('#confirm-delete-modal').modal('show');
			$('#yes-delete-cube-btn').data('cube-id', $(this).data('cube-id'));
		});
		$('.owned-delete-rig-btn').click(function(e){
			e.stopPropagation();
			$('#confirm-delete-cube-name').empty().append($(this).data('cube-name'));
			$('#confirm-delete-modal').modal('show');
			$('#yes-delete-cube-btn').data('cube-id', $(this).data('cube-id'));
		});
		
		$('#yes-delete-cube-btn').click(function(){
			// delete the cube
			var id = $(this).data('cube-id');
			
			$.post('/deletecube', {cube_id:id}, function(){
				location.reload();
			})
			
		})
		
		$('.rig-box').hover(function(){
			$(this).find('.delete-rig-btn').show();
			$(this).find('.owned-delete-rig-btn').show();
		}, function(){
			$(this).find('.delete-rig-btn').hide();
			$(this).find('.owned-delete-rig-btn').hide();
		});
		
	});
</script>

{% endblock %}